<div class="container-fluid politica pb-5">
  <div class="container pb-5">
    <div class="row pb-5 mx-lg-5">
      <div class="col-12 mtop pt-5 px-0 px-lg-2 text-center">
        <h1 class="title positive-ls-1 text-10 text-lg-12 mtop mb-5">Métodos de pagamento</h1>
        <h3 class="subtitle text-uppercase text-4 mb-0">Todos os preços da loja online Iora Lingerie incluem IVA (quando aplicável) à taxa legal em vigor.</h3>
      </div>

      <div class="col-12 col-lg-6 mtop pt-lg-5 pl-lg-4 text-center text-lg-left">
        <div class="row">
          <div class="col-12 col-lg-3 pb-2 pt-2 pb-lg-0">
            <img src="{{url_base}}/assets/img/logos/paypal.svg" class="" alt="PayPal"/>
          </div>
          <div class="col-12 col-lg-8">
            <p class="text-paragraph-politica text-uppercase mb-1">PayPal</p>
            <p class="text-paragraph text-3">O pagamento por PayPal é efetuado na Internet com recurso ao seu e-mail e cartão de crédito. É um método seguro e utilizado em todo o mundo. Para obter mais informações, aceda ao site do PayPal.</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-6 mtop pt-lg-5 text-center text-lg-left">
        <div class="row">
          <div class="col-12 col-lg-3 pb-2 pt-2 pb-lg-0">
            <img src="{{url_base}}/assets/img/icons/transferencia.svg" class="" alt="Transferência Bancária"/>
          </div>
          <div class="col-12 col-lg-8">
            <p class="text-paragraph-politica text-uppercase mb-1">Transferência Bancária</p>
            <p class="text-paragraph text-3">O montante total a ser transferido deve ser igual ao valor da encomenda. Todos os custos inerentes à realização do pagamento serão suportados pelo comprador. A encomenda será enviada logo que exista a confirmação de correta cobrança da mesma.</div>
        </div>
      </div>

      <!-- <div class="col-12 col-lg-6 mtop pt-lg-5 text-center text-lg-left">
        <div class="row">
          <div class="col-12 col-lg-3 pb-2 pt-2 pb-lg-0">
            <img src="{{url_base}}/assets/img/logos/mb.svg" class="" alt="Multibanco"/>
          </div>
          <div class="col-12 col-lg-8">
            <p class="text-paragraph-politica text-uppercase mb-1">Pagamento Multibanco</p>
            <p class="text-paragraph text-3">No caso de pagamento por multibanco, será gerada uma referência que estará disponível para pagamento durante 3 (três) dias. Caso o pagamento não seja efetuado neste período, a encomenda será, automaticamente, anulada.</p>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
