{% include 'Includes/deslize.html' %}
<div class="container-fluid">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8 float-top px-0 px-lg-3">
        <ul class="breadcrumb breadcrumb-dividers-no-opacity text-6 justify-content-center px-0 px-lg-3">
          <li class="subtitle text-uppercase mr-2">
            <a href="javascript:void(0);" class="text-decoration-none subtitle text-uppercase text-1">Envio</a>
          </li>
          <li class="subtitle text-uppercase mr-2">
            <a href="javascript:void(0);" class="text-decoration-none subtitle text-uppercase text-1">Pagamento</a>
          </li>
          <li class="subtitle text-uppercase active">
            <a href="{{url_base}}/loja/agradecimento" class="text-decoration-none subtitle text-uppercase text-2">Confirmação</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row mx-lg-5">
      <div class="col-12 mb-4 pb-lg-5">
        <h1 class="title positive-ls-1 text-10 text-lg-12 mt-lg-5 mb-4 text-center">Obrigado por comprar!</h1>
        <h3 class="subtitle text-uppercase text-center text-3 mb-lg-0">Um e-mail foi enviado com os detalhes da encomenda.</h3>
      </div>

      {% for i in range(0, 2) %}
      <div class="col-5 col-lg-1 mb-5 px-lg-0">
        <span class="product-thumb-info border-0">
          <a href="{{url_base}}/loja/detalhe">
            <span class="product-thumb-info-image">
              <img src="{{url_base}}/assets/img/products/21102.png" class="img-fluid" alt="Produto"/>
            </span>
          </a>
        </span>
      </div>

      <div class="col-7 col-lg-3 px-0 px-lg-3 mt-4 pt-1 mt-lg-0 pt-lg-0">
        <p class="product-name features text-uppercase text-3 text-lg-2 mt-xl-4 pt-xl-2 mb-0 line-height-0 line-height-mobile"><span class="product-qt">1</span> x Camisa clássica</p>
        <p class="product-price text-paragraph text-uppercase text-3 text-lg-2 mb-0 line-height-0 line-height-mobile">30,50€</p>
        <p class="product-ref text-paragraph text-uppercase text-3 text-lg-2 mb-0 line-height-0 line-height-mobile">R. 20634</p>
        <p class="product-size text-paragraph text-uppercase text-3 text-lg-2 line-height-0 line-height-mobile">Tamanho M</p>
      </div>
      {% endfor %}

      <div class="col-12 text-center mb-5 pb-5">
        <p class="product-total text-uppercase mb-0">Total 40,00€</p>
        <p class="text-uppercase subtitle text-2">Com IVA</p>
        <img src="{{url_base}}/assets/img/icons/encomenda.svg" class="my-4" alt="Encomenda"/>
        <p class="text-thanks text-uppercase text-3">A sua encomenda será entregue entre 3 a 5 dias.
        Irá receber um e-mail da transportadora quando estiver em trânsito.
        </p>
      </div>
    </div>
  </div>
</div>
