{% if is_mobile %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12 px-0 pt-5 mt-5">
      <div class="page-img-bg-mobile" style="background:url('{{url_base}}/assets/img/contactos.png') no-repeat center; background-size: cover;">
        <div class="page-img-mobile d-flex justify-content-center align-items-center">
          <div class="page-img-overlay-mobile">
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 my-4 py-2 px-4">
      <h1 class="title ml-2">Contactos</h1>
      <div class="feature-box feature-box-style-2 feature-box-secondary">
        <div class="feature-box-icon p-0">
          <img src="{{url_base}}/assets/img/icons/morada.svg" alt="Morada" width="15px"/>
        </div>
        <div class="feature-box-info p-0">
          <p class="text-p-info text-3">Rua da Boavista, 63-A, 4700-416 Braga</p>
        </div>
      </div>
      <div class="feature-box feature-box-style-2 feature-box-secondary">
        <div class="feature-box-icon p-0">
          <img src="{{url_base}}/assets/img/icons/email.svg" alt="Email" width="15px"/>
        </div>
        <div class="feature-box-info p-0">
          <p class="text-p-info text-3 mb-0">
            <a href="mailto:iora@ioralingerie.com">iora@ioralingerie.com</a>
          </p>
          <p class="text-p-info text-3">
            <a href="mailto:cristina@ioralingerie.com">cristina@ioralingerie.com</a>
          </p>
        </div>
      </div>
      <div class="feature-box feature-box-style-2 feature-box-secondary">
        <div class="feature-box-icon p-0">
          <img src="{{url_base}}/assets/img/icons/telefone.svg" alt="Telefone" width="15px"/>
        </div>
        <div class="feature-box-info p-0">
          <p class="text-p-info text-3">+351 253 614 168</p>
        </div>
      </div>
    </div>
    <div class="col-12 px-4 mx-2 mb-4 pb-4">
      <h2 class="title mb-5 pb-4">Fale connosco!</h2>
      <div class="form-row mr-2">
        <div class="form-group col-12">
          <input type="text" value="" placeholder="Nome" data-msg-required="Por favor insira o seu nome." maxlength="100" class="form-control pl-0" name="name" id="name" required/>
        </div>
      </div>
      <div class="form-row mr-2">
        <div class="form-group col-12">
          <input type="email" value="" placeholder="E-mail" data-msg-required="Por favor insira o seu email." maxlength="100" class="form-control pl-0" name="name" id="name" required/>
        </div>
      </div>
      <div class="form-row mr-2">
        <div class="form-group col-12">
          <input type="text" value="" placeholder="Assunto" data-msg-required="Por favor insira o assunto." maxlength="100" class="form-control pl-0" name="email" id="email" required/>
        </div>
      </div>
      <div class="form-row mr-2">
        <div class="form-group col-12">
          <textarea maxlength="5000" placeholder="Mensagem" data-msg-required="Por favor escreva a sua mensagem." rows="8" class="form-control pl-0" name="message" id="message" required></textarea>
        </div>
      </div>
      <div class="row form-row form-row-mobile">
        <div class="col-1 d-flex align-items-center">
          <div class="form-group">
            <input type="checkbox" id="checkbox" name="checkbox" class="checkbox d-none">
            <label for="checkbox" class="float-left text-3"></label>
          </div>
        </div>
        <div class="col-7 d-flex align-items-center">
          <p class="line-height-3 pl-2 text-paragraph text-3">Eu aceito as condições da política de privacidade.</p>
        </div>
        <div class="col-3 ml-2 pr-0">
          <div class="form-group">
            <p class="float-right text-uppercase text-paragraph"><input type="submit" name="Submit" value="Enviar" class="text-3"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 google-maps-mobile px-0">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11943.18160788737!2d-8.4312602!3d41.552027!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x50bf5d70395ff448!2sIora%20Lingerie!5e0!3m2!1sen!2spt!4v1614160232895!5m2!1sen!2spt" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
</div>

{% else %}

<div class="horizontal-scroll-wrapper">
  <div class="page-img-bg" style="background:url('{{url_base}}/assets/img/contactos.png') no-repeat center; background-size: cover;">
    <div class="page-img d-flex justify-content-center align-items-center">
      <div class="page-img-overlay">
      </div>
    </div>
  </div>
  <div class="description-text-contact scroll pt-2">
    <h1 class="title pb-5 ml-2">Contactos</h1>
    <div class="feature-box feature-box-style-2 feature-box-secondary">
      <div class="feature-box-icon p-0">
        <img src="{{url_base}}/assets/img/icons/morada.svg" alt="Morada" width="15px"/>
      </div>
      <div class="feature-box-info p-0">
        <p class="text-p-info">Rua da Boavista, 63-A, 4700-416 Braga</p>
      </div>
    </div>
    <div class="feature-box feature-box-style-2 feature-box-secondary">
      <div class="feature-box-icon p-0">
        <img src="{{url_base}}/assets/img/icons/email.svg" alt="Email" width="15px"/>
      </div>
      <div class="feature-box-info p-0">
        <p class="text-p-info mb-0">
          <a href="mailto:iora@ioralingerie.com">iora@ioralingerie.com</a>
        </p>
        <p class="text-p-info">
          <a href="mailto:cristina@ioralingerie.com">cristina@ioralingerie.com</a>
        </p>
      </div>
    </div>
    <div class="feature-box feature-box-style-2 feature-box-secondary">
      <div class="feature-box-icon p-0">
        <img src="{{url_base}}/assets/img/icons/telefone.svg" alt="Telefone" width="15px"/>
      </div>
      <div class="feature-box-info p-0">
        <p class="text-p-info">+351 253 614 168</p>
      </div>
    </div>
  </div>
  <div class="form-text scroll">
    <h2 class="title mb-5 pb-4">Fale connosco!</h2>
    <div class="form-row">
      <div class="form-group col-12">
        <input type="text" value="" placeholder="Nome" data-msg-required="Por favor insira o seu nome." maxlength="100" class="form-control pl-0" name="name" id="name" required/>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-12">
        <input type="email" value="" placeholder="E-mail" data-msg-required="Por favor insira o seu email." maxlength="100" class="form-control pl-0" name="name" id="name" required/>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-12">
        <input type="text" value="" placeholder="Assunto" data-msg-required="Por favor insira o assunto." maxlength="100" class="form-control pl-0" name="email" id="email" required/>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-12">
        <textarea maxlength="5000" placeholder="Mensagem" data-msg-required="Por favor escreva a sua mensagem." rows="8" class="form-control pl-0" name="message" id="message" required></textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-12 col-lg-8">
        <input type="checkbox" id="checkbox" name="checkbox" class="checkbox">
        <label for="checkbox" class="float-left">Eu aceito as condições da política de privacidade.</label><br/>
      </div>
      <div class="form-group col-12 col-lg-4">
        <p class="float-right text-uppercase text-paragraph"><input type="submit" name="Submit" value="Enviar"></p>
      </div>
    </div>
  </div>
  <div class="google-maps w-100">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11943.18160788737!2d-8.4312602!3d41.552027!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x50bf5d70395ff448!2sIora%20Lingerie!5e0!3m2!1sen!2spt!4v1614160232895!5m2!1sen!2spt" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
  <!-- <div class="contact-img-1">
    <a href="https://goo.gl/maps/5HCWPARasiyXfeo2A" target="_blank">
      <img class="img-fluid" src="{{url_base}}/assets/img/mapa.png" alt="Mapa"/>
    </a>
  </div> -->
  <!-- <div class="space"></div> -->
  <div class="footer-delimiter"></div>
</div>

{% endif %}
