{% include 'Includes/deslize.html' %}
<div class="container-fluid">
  <div class="row pb-lg-5">
    <div class="col-lg-6 p-0 mt-0 pt-0 detail-img">
      <a class="lightbox" href="{{url_base}}/assets/img/products/21212.png" data-plugin-options="{'type':'image'}">
        <img src="{{url_base}}/assets/img/products/21212.png" alt="Produto" class="w-100"/>
      </a>
      <a class="lightbox" href="{{url_base}}/assets/img/products/ativo-3.png" data-plugin-options="{'type':'image'}">
        <img src="{{url_base}}/assets/img/products/ativo-3.png" alt="Produto" class="w-100"/>
      </a>
      <a class="lightbox" href="{{url_base}}/assets/img/products/ativo-4.png" data-plugin-options="{'type':'image'}">
        <img src="{{url_base}}/assets/img/products/ativo-4.png" alt="Produto" class="w-100"/>
      </a>
    </div>
    <div class="col-lg-5 pt-lg-5 mt-lg-5">
      <div class="summary entry-summary p-3 p-lg-4 mt-3 mt-lg-0">
        <h1 class="product-name title positive-ls-1 text-10 text-lg-12 mt-lg-5 mb-4 mb-lg-3">Camisa clássica</h1>
        <div>
          <p class="product-price subtitle mb-0 text-5 my-2">30,50€</p>
          <p class="product-ref subtitle text-3">R. 20631</p>
        </div>

        <div>
          <p class="features text-uppercase text-4 text-lg-3 mb-0 my-3">Tamanho</p>
          <div class="product-size btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-outline btn-primary mb-2 subtitle text-2 active">
              <input type="radio" name="options" id="size-S" autocomplete="off" checked/>S
            </label>
            <label class="btn btn-outline btn-primary mb-2 subtitle text-2">
              <input type="radio" name="options" id="size-M" autocomplete="off" checked/>M
            </label>
            <label class="btn btn-outline btn-primary mb-2 subtitle text-2">
              <input type="radio" name="options" id="size-L" autocomplete="off" checked/>L
            </label>
            <label class="btn btn-outline btn-primary mb-2 subtitle text-2">
              <input type="radio" name="options" id="Size-XL" autocomplete="off" checked/>XL
            </label>
          </div>
        </div>

        <div class="row shop my-5">
          <div class="col-3 px-0">
            <form enctype="multipart/form-data" method="post" class="cart">
              <div class="quantity quantity-lg">
                <input type="button" class="quantity-left-minus minus text-paragraph text-4" value="-"/>
                <input type="text" id="quantity" class="form-control input-number input-text qty text text-paragraph text-4" title="Qty" value="1" name="quantity" min="1" step="1"/>
                <input type="button" class="quantity-right-plus plus text-paragraph text-4" value="+"/>
              </div>
            </form>
          </div>
          <div class="col-8 pl-lg-5 pl-xl-3">
            <button href="javascript:void(0);" class="btn shop-button">Adicionar</button>
          </div>
          <div class="col-1 px-1">
            <button type="submit" name="button" class="favorite-button py-1">
              <img src="{{url_base}}/assets/img/icons/add-favoritos.svg" alt="Favorito" class="add-favorite-icon"/>
              <img src="{{url_base}}/assets/img/icons/favoritos.svg" alt="Favorito" class="favorite-icon"/>
            </button>
          </div>
        </div>

        <div class="mt-5">
          <p class="features text-uppercase text-4 text-lg-3 my-lg-2">Composição</p>
          <p class="text-paragraph text-3">62% poliéster, 33% viscose e 5% elastano.</p>
        </div>
        <div class="mt-5">
          <p class="features text-uppercase text-4 text-lg-3 my-lg-2">Cuidados</p>
          <ul class="list list-icons list-unstyled">
            <li class="mb-4 mb-lg-3">
              <img src="{{url_base}}/assets/img/icons/cuidados-1.svg" alt="Lavagem"/>
              <p class="d-inline text-paragraph text-3 text-lg-2 ml-3">Lavar na máquina no máximo a 30º.</p>
            </li>
            <li class="mb-4 mb-lg-3">
              <img src="{{url_base}}/assets/img/icons/cuidados-2.svg" alt="Lixívia"/>
              <p class="d-inline text-paragraph text-3 text-lg-2 ml-3">Não utilizar lixívia.</p>
            </li>
            <li class="mb-4 mb-lg-3">
              <img src="{{url_base}}/assets/img/icons/cuidados-3.svg" alt="Seco"/>
              <p class="d-inline text-paragraph text-3 text-lg-2 ml-3">Não lavar a seco.</p>
            </li>
            <li class="mb-4 mb-lg-3">
              <img src="{{url_base}}/assets/img/icons/cuidados-4.svg" alt="Ferro"/>
              <p class="d-inline text-paragraph text-3 text-lg-2 ml-3">Passar a ferro com a temperatura até 110º.</p>
            </li>
            <li class="mb-4 mb-lg-3">
              <img src="{{url_base}}/assets/img/icons/cuidados-5.svg" alt="Secagem"/>
              <p class="d-inline text-paragraph text-3 text-lg-2 ml-3">Não utilizar máquina de secar.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- <div class="col-1 slide-bottom d-flex align-items-center justify-content-center">
      <p class="rotate text-nowrap m-0 d-none d-lg-block">Deslize para baixo</p>
    </div> -->
  </div>

  <div class="row mt-lg-5 pt-lg-5 px-xl-5 mx-xl-2">
    <div class="col-12">
      <h1 class="title positive-ls-1 text-10 text-lg-12 text-center pt-4 pt-lg-0 pb-5 mb-0">Completa o teu look</h1>
      <div class="masonry-loader masonry-loader-showing">
        <div class="row products product-thumb-info-list mt-3" data-plugin-masonry data-plugin-options="{'layoutMode': 'fitRows'}">

          {% if is_mobile %}
          {% for i in range(0, 2) %}
          <div class="col-4 product mb-4 mb-lg-5" style="position: absolute; left: 0px; top: 0px;"">
						<div class="portfolio-item">
							<a href="{{url_base}}/loja/detalhe">
								<span class="thumb-info thumb-info-lighten border-radius-0">
									<span class="thumb-info-wrapper border-radius-0">
										<img src="{{url_base}}/assets/img/products/21102.png" class="img-fluid border-radius-0" alt="Produto"/>
									</span>
								</span>
                <div class="post-content">
                  <h4 class="product-name text-paragraph text-uppercase text-3 mt-3 mb-0 line-height-0 text-left">Camisa clássica</h4>
                  <span class="price float-left">
                    <span class="amount product-price text-paragraph text-uppercase text-3 line-height-0">30,50€</span>
                  </span>
                </div>
							</a>
						</div>
					</div>

          <!-- <div class="col-4 col-lg-3 product px-2 px-lg-3">
            <span class="product-thumb-info border-0">
              <a href="{{url_base}}/Loja/detalhe">
                <span class="product-thumb-info-image">
                  <img alt="Produto" class="img-fluid" src="{{url_base}}/assets/img/products/ativo-3.png"/>
                </span>
              </a>
              <span class="product-thumb-info-content product-thumb-info-content pt-0 pl-0">
                <h4 class="product-name text-3">Camisa clássica</h4>
                <span class="price">
                  <span class="amount product-price text-3">30,50€</span>
                </span>
              </span>
            </span>
          </div> -->
          {% endfor %}

          {% else %}

          {% for i in range(0, 3) %}
          <div class="col-4 col-lg-3 product mb-4 mb-lg-5 px-0 px-lg-3" style="position: absolute; left: 0px; top: 0px;"">
						<div class="portfolio-item">
							<a href="{{url_base}}/loja/detalhe">
								<span class="thumb-info thumb-info-lighten border-radius-0">
									<span class="thumb-info-wrapper border-radius-0">
										<img src="{{url_base}}/assets/img/products/21102.png" class="img-fluid border-radius-0" alt="Produto"/>
									</span>
								</span>
                <div class="post-content">
                  <h4 class="product-name text-paragraph text-uppercase text-3 mt-3 mb-0 line-height-0 text-left">Camisa clássica</h4>
                  <span class="price float-left">
                    <span class="amount product-price text-paragraph text-uppercase text-3 line-height-0">30,50€</span>
                  </span>
                </div>
							</a>
						</div>
					</div>
          <!-- <div class="col-4 col-lg-3 product px-2 px-lg-3">
            <span class="product-thumb-info border-0">
              <a href="{{url_base}}/Loja/detalhe">
                <span class="product-thumb-info-image">
                  <img alt="Produto" class="img-fluid" src="{{url_base}}/assets/img/products/ativo-3.png"/>
                </span>
              </a>
              <span class="product-thumb-info-content product-thumb-info-content pt-0 pl-0">
                <h4 class="product-name text-3">Camisa clássica</h4>
                <span class="price">
                  <span class="amount product-price text-3">30,50€</span>
                </span>
              </span>
            </span>
          </div>-->
          {% endfor %}

          {% endif %}

        </div>
      </div>
    </div>
  </div>

  <div class="row pb-5 mb-lg-5 py-lg-5 px-xl-5 mx-xl-2">
    <div class="col-12">
      <h1 class="title positive-ls-1 text-10 text-lg-12 text-center pt-4 pt-lg-0 pb-5 mb-0">Produtos semelhantes</h1>
      <div class="masonry-loader masonry-loader-showing">
        <div class="row products product-thumb-info-list mt-3" data-plugin-masonry data-plugin-options="{'layoutMode': 'fitRows'}">

          {% if is_mobile %}
          {% for i in range(0, 2) %}
          <div class="col-4 product mb-4 mb-lg-5" style="position: absolute; left: 0px; top: 0px;"">
						<div class="portfolio-item">
							<a href="{{url_base}}/loja/detalhe">
								<span class="thumb-info thumb-info-lighten border-radius-0">
									<span class="thumb-info-wrapper border-radius-0">
										<img src="{{url_base}}/assets/img/products/21102.png" class="img-fluid border-radius-0" alt="Produto"/>
									</span>
								</span>
                <div class="post-content">
                  <h4 class="product-name text-paragraph text-uppercase text-3 mt-3 mb-0 line-height-0 text-left">Robe clássico</h4>
                  <span class="price float-left">
                    <span class="amount product-price text-paragraph text-uppercase text-3 line-height-0">30,50€</span>
                  </span>
                </div>
							</a>
						</div>
					</div>

          <!-- <div class="col-4 col-lg-3 product px-2 px-lg-3">
            <span class="product-thumb-info border-0">
              <a href="{{url_base}}/Loja/detalhe">
                <span class="product-thumb-info-image">
                  <img alt="Produto" class="img-fluid" src="{{url_base}}/assets/img/products/ativo-3.png"/>
                </span>
              </a>
              <span class="product-thumb-info-content product-thumb-info-content pt-0 pl-0">
                <h4 class="product-name text-3">Camisa clássica</h4>
                <span class="price">
                  <span class="amount product-price text-3">30,50€</span>
                </span>
              </span>
            </span>
          </div> -->
          {% endfor %}

          {% else %}
          {% for i in range(0, 3) %}
          <div class="col-4 col-lg-3 product mb-4 mb-lg-5 px-0 px-lg-3" style="position: absolute; left: 0px; top: 0px;"">
						<div class="portfolio-item">
							<a href="{{url_base}}/loja/detalhe">
								<span class="thumb-info thumb-info-lighten border-radius-0">
									<span class="thumb-info-wrapper border-radius-0">
										<img src="{{url_base}}/assets/img/products/21102.png" class="img-fluid border-radius-0" alt="Produto"/>
									</span>
								</span>
                <div class="post-content">
                  <h4 class="product-name text-paragraph text-uppercase text-3 mt-3 mb-0 line-height-0 text-left">Robe clássico</h4>
                  <span class="price float-left">
                    <span class="amount product-price text-paragraph text-uppercase text-3 line-height-0">30,50€</span>
                  </span>
                </div>
							</a>
						</div>
					</div>

          <!-- <div class="col-4 col-lg-3 product px-2 px-lg-3">
            <span class="product-thumb-info border-0">
              <a href="{{url_base}}/Loja/detalhe">
                <span class="product-thumb-info-image">
                  <img alt="Produto" class="img-fluid" src="{{url_base}}/assets/img/products/ativo-3.png"/>
                </span>
              </a>
              <span class="product-thumb-info-content product-thumb-info-content pt-0 pl-0">
                <h4 class="product-name text-3">Camisa clássica</h4>
                <span class="price">
                  <span class="amount product-price text-3">30,50€</span>
                </span>
              </span>
            </span>
          </div> -->
          {% endfor %}
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</div>
