{% if is_mobile is empty %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-11">
      <div class="slider-container rev_slider_wrapper" style="height: 100vh;">
        <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'sliderLayout': 'fullscreen', 'delay': 9000, 'gridwidth': 1170, 'gridheight': 670, 'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'parallax': { 'type': 'scroll', 'origo': 'enterpoint', 'speed': 1000, 'levels': [2,3,4,5,6,7,8,9,12,50], 'disable_onmobile': 'off' }, 'navigation' : {'arrows': { 'enable': false }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
          <ul>
            <li data-transition="fade" class="rev-slider-overlay">
              <!-- <img src="{{url_base}}/assets/img/loja-1.png"
              alt="Loja"
              data-bgposition="top center"
              data-bgfit="cover"
              data-bgrepeat="no-repeat"
              class="rev-slidebg"> -->

              <div class="tp-caption title text-white positive-ls-1"
                data-paddingtop="150"
                data-x="center"
                data-y="center"
                data-voffset="['-50','-50','-50','-75']"
                data-start="700"
                data-fontsize="['80','60','60','80']"
                data-lineheight="['25','25','25','45']"
                data-transform_in="y:[-50%];opacity:0;s:500;">A melhor lingerie à
              </div>

              <div class="tp-caption title text-white positive-ls-1"
                data-paddingtop="150"
                data-x="center"
                data-y="center"
                data-voffset="['40','40','40','80']"
                data-start="700"
                data-fontsize="['80','60','60','80']"
                data-lineheight="['20','20','20','55']"
                data-transform_in="y:[-50%];opacity:0;s:500;">distância de um clique!
              </div>
            </li>

            <li data-transition="fade" class="rev-slider-overlay">

              <div class="tp-caption title text-white positive-ls-1"
                data-paddingtop="150"
                data-x="center"
                data-y="center"
                data-voffset="['-50','-50','-50','-75']"
                data-start="700"
                data-fontsize="['80','60','60','80']"
                data-lineheight="['25','25','25','45']"
                data-transform_in="y:[-50%];opacity:0;s:500;">A melhor lingerie à
              </div>

              <div class="tp-caption title text-white positive-ls-1"
                data-paddingtop="150"
                data-x="center"
                data-y="center"
                data-voffset="['40','40','40','80']"
                data-start="700"
                data-fontsize="['80','60','60','80']"
                data-lineheight="['20','20','20','55']"
                data-transform_in="y:[-50%];opacity:0;s:500;">distância de um clique!
              </div>
            </li>

            <li data-transition="fade" class="rev-slider-overlay">

              <div class="tp-caption title text-white positive-ls-1"
                data-paddingtop="150"
                data-x="center"
                data-y="center"
                data-voffset="['-50','-50','-50','-75']"
                data-start="700"
                data-fontsize="['80','60','60','80']"
                data-lineheight="['25','25','25','45']"
                data-transform_in="y:[-50%];opacity:0;s:500;">A melhor lingerie à
              </div>

              <div class="tp-caption title text-white positive-ls-1"
                data-paddingtop="150"
                data-x="center"
                data-y="center"
                data-voffset="['40','40','40','80']"
                data-start="700"
                data-fontsize="['80','60','60','80']"
                data-lineheight="['20','20','20','55']"
                data-transform_in="y:[-50%];opacity:0;s:500;">distância de um clique!
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-1 slide-right-col d-flex align-items-center justify-content-center">
      <p class="rotate text-nowrap m-0 d-none d-lg-block">Deslize para baixo</p>
    </div>
  </div>
</div>

{% else %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-11">
      <div class="slider-container rev_slider_wrapper" style="height: 50vh;">
        <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'sliderLayout': 'fullwidth', 'delay': 9000, 'gridwidth': 1170, 'gridheight': 1000, 'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'parallax': { 'type': 'scroll', 'origo': 'enterpoint', 'speed': 1000, 'levels': [2,3,4,5,6,7,8,9,12,50], 'disable_onmobile': 'off' }, 'navigation' : {'arrows': { 'enable': false }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
          <ul>
            <li data-transition="fade" class="rev-slider-overlay">
              <!-- <img src="{{url_base}}/assets/img/loja-1.png"
              alt="Loja"
              data-bgposition="top center"
              data-bgfit="cover"
              data-bgrepeat="no-repeat"
              class="rev-slidebg"> -->

              <div class="tp-caption title text-white positive-ls-1"
                data-paddingtop="150"
                data-x="center"
                data-y="center"
                data-voffset="['-50','-50','-50','-75']"
                data-start="700"
                data-fontsize="['80','60','60','80']"
                data-lineheight="['25','25','25','45']"
                data-transform_in="y:[-50%];opacity:0;s:500;">A melhor lingerie à
              </div>

              <div class="tp-caption title text-white positive-ls-1"
                data-paddingtop="150"
                data-x="center"
                data-y="center"
                data-voffset="['40','40','40','80']"
                data-start="700"
                data-fontsize="['80','60','60','80']"
                data-lineheight="['20','20','20','55']"
                data-transform_in="y:[-50%];opacity:0;s:500;">distância de um clique!
              </div>
            </li>

            <li data-transition="fade" class="rev-slider-overlay">

              <div class="tp-caption title text-white positive-ls-1"
                data-paddingtop="150"
                data-x="center"
                data-y="center"
                data-voffset="['-50','-50','-50','-75']"
                data-start="700"
                data-fontsize="['80','60','60','80']"
                data-lineheight="['25','25','25','45']"
                data-transform_in="y:[-50%];opacity:0;s:500;">A melhor lingerie à
              </div>

              <div class="tp-caption title text-white positive-ls-1"
                data-paddingtop="150"
                data-x="center"
                data-y="center"
                data-voffset="['40','40','40','80']"
                data-start="700"
                data-fontsize="['80','60','60','80']"
                data-lineheight="['20','20','20','55']"
                data-transform_in="y:[-50%];opacity:0;s:500;">distância de um clique!
              </div>
            </li>

            <li data-transition="fade" class="rev-slider-overlay">

              <div class="tp-caption title text-white positive-ls-1"
                data-paddingtop="150"
                data-x="center"
                data-y="center"
                data-voffset="['-50','-50','-50','-75']"
                data-start="700"
                data-fontsize="['80','60','60','80']"
                data-lineheight="['25','25','25','45']"
                data-transform_in="y:[-50%];opacity:0;s:500;">A melhor lingerie à
              </div>

              <div class="tp-caption title text-white positive-ls-1"
                data-paddingtop="150"
                data-x="center"
                data-y="center"
                data-voffset="['40','40','40','80']"
                data-start="700"
                data-fontsize="['80','60','60','80']"
                data-lineheight="['20','20','20','55']"
                data-transform_in="y:[-50%];opacity:0;s:500;">distância de um clique!
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endif %}

<div class="container-fluid mt-0 mt-lg-5 mb-5 py-5">
  <div class="row">
    <div class="col-12 text-center mb-5">
      <h1 class="title positive-ls-1 text-10 text-lg-12">Os nossos produtos</h1>
      <h3 class="subtitle text-4">A melhor seleção para si.</h3>
    </div>

    <div class="col-12 px-5 text-center">
      <!-- <div class="row"> -->
        <!-- <div class="col-11 text-center px-0 ml-2 ml-lg-0 nossos-prod"> -->
          <ul class="nav sort-source justify-content-center nossos-prod" data-sort-id="portfolio" data-option-key="filter" data-plugin-options="{'layoutMode': 'fitRows', 'filter': '*'}">
            <li class="nav-item active px-0 px-lg-3" data-option-value="*"><a class="nav-link text-uppercase active" href="#">Ver tudo</a></li>
            <li class="nav-item px-0 px-lg-3" data-option-value=".camisas"><a class="nav-link text-uppercase" href="#">Camisas</a></li>
            <li class="nav-item px-0 px-lg-3" data-option-value=".robes"><a class="nav-link text-uppercase" href="#">Robes</a></li>
            <li class="nav-item px-0 px-lg-3" data-option-value=".pijamas"><a class="nav-link text-uppercase" href="#">Pijamas</a></li>
          </ul>
        </div>

        <!-- <div class="col-12 px-5"> -->
          <!-- <div class="col-12 col-lg-1 px-0 pr-lg-0 pl-xl-3 text-right text-xl-left"> -->
          <!-- <a class="text-link text-uppercase text-3" href="javascript:void(0)" style="position:absolute; right: 8vw; top: -5vh;"><u><i class="fas fa-plus text-1"></i> Filtros</u></a> -->
        <!-- </div> -->
      </div>

      <div class="col-12 px-5">
        <div class="sort-destination-loader sort-destination-loader-showing mt-2 pt-2 px-lg-5">
        <div class="row portfolio-list sort-destination" data-sort-id="portfolio">

          {% for i in range(0, 3) %}

          <div class="col-sm-6 col-lg-3 mb-4 mb-lg-5 px-0 px-lg-3 isotope-item camisas" style="position: absolute; left: 0px; top: 0px;">
						<div class="portfolio-item">
							<a href="{{url_base}}/loja/detalhe">
								<span class="thumb-info thumb-info-lighten border-radius-0">
									<span class="thumb-info-wrapper border-radius-0">
										<img src="{{url_base}}/assets/img/products/21122.png" class="img-fluid border-radius-0" alt="Produto"/>
									</span>
								</span>
                <div class="post-content">
                  <h4 class="product-name text-paragraph text-uppercase text-3 mt-3 mb-0 line-height-0 text-left">Camisa clássica</h4>
                  <span class="price float-left">
                    <span class="amount product-price text-paragraph text-uppercase text-3 line-height-0">30,50€</span>
                  </span>
                </div>
							</a>
						</div>
					</div>

          <div class="col-sm-6 col-lg-3 mb-4 mb-lg-5 px-0 px-lg-3 isotope-item robes" style="position: absolute; left: 0px; top: 0px;">
						<div class="portfolio-item">
							<a href="{{url_base}}/loja/detalhe">
								<span class="thumb-info thumb-info-lighten border-radius-0">
									<span class="thumb-info-wrapper border-radius-0">
										<img src="{{url_base}}/assets/img/products/21102.png" class="img-fluid border-radius-0" alt="Produto"/>
									</span>
								</span>
                <div class="post-content">
                  <h4 class="product-name text-paragraph text-uppercase text-3 mt-3 mb-0 line-height-0 text-left">Robe clássico</h4>
                  <span class="price float-left">
                    <span class="amount product-price text-paragraph text-uppercase text-3 line-height-0">30,50€</span>
                  </span>
                </div>
							</a>
						</div>
					</div>

          <div class="col-sm-6 col-lg-3 mb-4 mb-lg-5 px-0 px-lg-3 isotope-item pijamas" style="position: absolute; left: 0px; top: 0px;">
						<div class="portfolio-item">
							<a href="{{url_base}}/loja/detalhe">
								<span class="thumb-info thumb-info-lighten border-radius-0">
									<span class="thumb-info-wrapper border-radius-0">
										<img src="{{url_base}}/assets/img/products/21207.png" class="img-fluid border-radius-0" alt="Produto"/>
									</span>
								</span>
                <div class="post-content">
                  <h4 class="product-name text-paragraph text-uppercase text-3 mt-3 mb-0 line-height-0 text-left">Pijama cetim</h4>
                  <span class="price float-left">
                    <span class="amount product-price text-paragraph text-uppercase text-3 line-height-0">30,50€</span>
                  </span>
                </div>
							</a>
						</div>
					</div>
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
          <!-- <div class="col-sm-6 col-lg-3 mb-4 mb-lg-5 px-0 px-lg-3 isotope-item camisas">
            <span class="product-thumb-info border-0">
              <a href="{{url_base}}/loja/detalhe">
                <span class="product-thumb-info-image">
                  <img src="{{url_base}}/assets/img/products/21102.png" class="img-fluid w-100" alt="Produto"/>
                </span>
                <span class="product-thumb-info-content product-thumb-info-content pt-0 pl-0">
                  <h4 class="product-name text-paragraph text-uppercase text-3 mt-3">Robe clássico</h4>
                  <span class="price">
                    <span class="amount product-price text-paragraph text-uppercase text-3">30,50€</span>
                  </span>
                </span>
              </a>
            </span>
          </div>

          <div class="col-sm-6 col-lg-3 mb-4 mb-lg-5 px-0 px-lg-3 isotope-item robes">
            <span class="product-thumb-info border-0">
              <a href="{{url_base}}/loja/detalhe">
                <span class="product-thumb-info-image">
                  <img src="{{url_base}}/assets/img/products/21122.png" class="img-fluid w-100" alt="Produto"/>
                </span>
                <span class="product-thumb-info-content product-thumb-info-content pt-0 pl-0">
                  <h4 class="product-name text-paragraph text-uppercase text-3 mt-3">Camisa clássica</h4>
                  <span class="price">
                    <span class="amount product-price text-paragraph text-uppercase text-3">30,50€</span>
                  </span>
                </span>
              </a>
            </span>
          </div>

          <div class="col-sm-6 col-lg-3 mb-4 mb-lg-5 px-0 px-lg-3 isotope-item pijamas">
            <span class="product-thumb-info border-0">
              <a href="{{url_base}}/loja/detalhe">
                <span class="product-thumb-info-image">
                  <img src="{{url_base}}/assets/img/products/21207.png" class="img-fluid w-100" alt="Produto">
                </span>
                <span class="product-thumb-info-content product-thumb-info-content pt-0 pl-0">
                  <h4 class="product-name text-paragraph text-uppercase text-3 mt-3">Pijama cetim</h4>
                  <span class="price">
                    <span class="amount product-price text-paragraph text-uppercase text-3">30,50€</span>
                  </span>
                </span>
              </a>
            </span>
          </div> -->
          {% endfor %}

        </div>
      </div>
    </div>
   </div>
