<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="row py-lg-5 mx-lg-5">
      <div class="col-12 pb-lg-5">
        <h1 class="title positive-ls-1 text-10 text-lg-12 mtop mb-5 text-center">Criar conta</h1>
        <form action="/" id="frmSignUp" method="post">
          <div class="form-row">
            <div class="form-group col-12 col-lg-6 pr-lg-4 mt-2">
              <input type="text" value="" placeholder="Nome" class="form-control">
            </div>
            <div class="form-group col-12 col-lg-6 pl-lg-4 mt-2">
              <input type="text" value="" placeholder="Apelido" class="form-control">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12 col-lg-6 pr-lg-4 mt-2">
              <input type="email" value="" placeholder="E-mail" class="form-control">
            </div>
            <div class="form-group col-12 col-lg-6 pl-lg-4 mt-2">
              <input type="password" value="" placeholder="Password" class="form-control">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12 col-lg-6 pr-lg-4 mt-2">
              <input type="tel" value="" placeholder="Nº Telefone" class="form-control">
            </div>
            <div class="form-group col-12 col-lg-6 pl-lg-4 mt-2">
              <input type="text" value="" placeholder="NIF" class="form-control">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12 mt-2">
              <input type="text" value="" placeholder="Morada" class="form-control">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12 col-lg-6 pr-lg-4 mt-2">
              <input type="text" value="" placeholder="Código Postal" class="form-control">
            </div>
            <div class="form-group col-12 col-lg-6 pl-lg-4 mt-2">
              <input type="text" value="" placeholder="Localidade" class="form-control">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12 col-lg-6 pr-lg-4 mt-2">
              <input type="text" value="" placeholder="Distrito" class="form-control">
            </div>
            <div class="form-group col-12 col-lg-6 pl-lg-4 mt-2">
              <input type="text" value="" placeholder="País" class="form-control">
            </div>
          </div>
          <div class="form-row pl-3 pl-lg-0">
            <div class="form-group col-12 col-lg-6 mt-2">
              <div class="pl-2">
                <input type="checkbox" class="" id="terms">
                <label class="custom-control-label text-2" for="terms">Eu aceito as condições da política de privacidade.</label>
              </div>
            </div>
            <div class="form-group col-12 col-lg-6 mt-2">
              <p class="text-paragraph text-2 float-lg-right">* Todos os campos são de preenchimento obrigatório.</p>
              <!-- <input type="submit" value="Criar conta" class="btn btn-primary float-right" data-loading-text="Loading..."> -->
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12 px-0 text-center text-lg-left">
                <button href="javascript:void(0);" class="btn create-button text-center float-lg-right w-auto">Criar conta</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
