<div class="container-fluid">
  <div class="container">
    <div class="row mb-5 mx-lg-5">
      <div class="col-12 float-top">
        <div class="featured-boxes mb-5">
          <div class="row mb-5">

            <div class="col-12 col-md-5 mb-lg-5">
              <div class="text-left mt-2 mb-lg-5">
                <div class="box-content text-center text-lg-left">
                  <h1 class="title positive-ls-1 text-10 text-lg-12 mtop mb-5">Iniciar sessão</h1>
                  <form action="/" id="frmSignIn" method="post">
                    <div class="form-row">
                      <div class="form-group col-12">
                        <input type="text" value="" placeholder="E-mail" class="form-control"/>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-12">
                        <input type="password" value="" placeholder="Password" class="form-control"/>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-5 col-lg-6">
                        <div class="pl-2">
                          <input type="checkbox" class="" id="rememberme"/>
                          <label class="custom-control-label text-2" for="rememberme">Guardar dados</label>
                        </div>
                      </div>
                      <div class="form-group col-7 col-lg-6">
                        <a class="float-right text-paragraph text-2" href="javascript:void(0);">Esqueci-me da password</a>
                        <!-- <input type="submit" value="Esqueci-me da password" class="btn float-right text-paragraph text-2" data-loading-text="Loading..."/> -->
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-12 px-0 mt-4 mt-lg-0">
                        <button href="javascript:void(0);" class="btn login-button text-center float-lg-right w-auto">Continuar</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-2">
            </div>

            <div class="col-12 col-md-5">
              <div class="text-left mt-2">
                <div class="box-content text-center text-lg-left">
                  <h1 class="title positive-ls-1 text-10 text-lg-12 mtop mb-5">Criar conta</h1>
                  <p class="text-paragraph text-2">Se ainda não possuí conta na nossa loja online, pode criar uma em poucos passos. Tudo que terá de fazer é preencher os seus dados e a sua conta estará pronta só para si.</p>
                  <div class="col-12 px-0">
                    <a href="{{url_base}}/login/criar_conta">
                      <button class="btn create-button text-center text-lg-left w-auto">Criar conta</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
