{% include 'Includes/deslize.html' %}
<div class="container-fluid">
  <div class="container">
    <div class="row mx-lg-5">
      <div class="col-12 text-center float-top mb-5">
        <h1 class="product-name title positive-ls-1 text-10 text-lg-12 mt-lg-5 mb-4 mb-lg-3">O meu perfil</h1>
        <p class="subtitle text-uppercase text-4 text-lg-3 mb-0 my-3 pt-lg-5">Histórico da encomenda <span class="num-encomenda">XE4567Y</span></p>
      </div>

      {% for i in range(0, 2) %}
      <div class="col-5 col-lg-1 mb-5 px-lg-0">
        <span class="product-thumb-info border-0">
          <a href="{{url_base}}/loja/detalhe">
            <span class="product-thumb-info-image">
              <img src="{{url_base}}/assets/img/products/21102.png" class="img-fluid" alt="Produto"/>
            </span>
          </a>
        </span>
      </div>

      <div class="col-7 col-lg-3 px-0 px-lg-3 mt-4 pt-1 mt-lg-0 pt-lg-0">
        <p class="product-name features text-uppercase text-3 text-lg-2 mt-xl-4 pt-xl-2 mb-0 line-height-0 line-height-mobile"><span class="product-qt">1</span> x Camisa clássica</p>
        <p class="product-price text-paragraph text-uppercase text-3 text-lg-2 mb-0 line-height-0 line-height-mobile">30,50€</p>
        <p class="product-ref text-paragraph text-uppercase text-3 text-lg-2 mb-0 line-height-0 line-height-mobile">R. 20634</p>
        <p class="product-size text-paragraph text-uppercase text-3 text-lg-2 line-height-0 line-height-mobile">Tamanho M</p>
      </div>
      {% endfor %}

      <div class="col-12 text-center pt-lg-5">
        <p class="product-total text-uppercase mb-0">Total 40,00€</p>
        <p class="text-uppercase subtitle text-2">Com IVA</p>
      </div>

      <div class="col-12 text-center pb-2 pb-lg-5">
        <p class="subtitle text-uppercase text-4 text-lg-3 mb-0 my-3 pt-2">Detalhes da entrega</p>
      </div>

      <div class="col-12">
        <div class="row text-center text-lg-left">
          <div class="col-12 col-lg-4 justify-content-center">
            <p class="user-name text-paragraph text-uppercase text-2 mb-0 mb-lg-3">Maria Joaquina Ferreira Carvalho</p>
            <p class="user-email text-paragraph text-uppercase text-2 mb-lg-0">maria.carvalho@gmail.com</p>
          </div>
          <div class="col-12 col-lg-4 justify-content-center text-center">
            <p class="user-phone text-paragraph text-uppercase text-2 mb-0 mb-lg-3">+351 936 568 345</p>
            <p class="text-paragraph text-uppercase text-2 mb-lg-0">NIF <span class="user-nif">267 890 222</span></p>
          </div>
          <div class="col-12 col-lg-4 justify-content-center">
            <p class="user-address text-paragraph text-uppercase text-2 mb-0 mb-lg-3">Rua Lamego da Silva Basto Carvalho nº234 1ºEsq</p>
            <p class="user-district text-paragraph text-uppercase text-2 mb-0">5678-679 Flores do Campo, Braga</p>
            <p class="user-country text-paragraph text-uppercase text-2 mb-lg-0">Portugal</p>
          </div>
        </div>
      </div>

      <div class="col-12 text-center mb-5 py-5">
        <div class="row">
          <div class="col-12 col-lg-5 text-center text-lg-right">
            <img src="{{url_base}}/assets/img/icons/encomenda-fechada.svg" class="my-4" alt="Encomenda Fechada"/>
          </div>
          <div class="col-12 col-lg-7 text-center text-lg-left my-auto">
            <p class="text-paragraph text-2 mb-0">Encomenda fechada.</p>
            <p class="text-paragraph text-2 mb-0">Entregue no dia <span class="date-receive">14/08/2020</span></p>
          </div>
          <div class="col-12 text-center pt-5">
            <a href="{{url_base}}/loja">
              <button class="btn back-button text-center w-auto px-5">Voltar</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
