<div class="container-fluid">
  <div class="container">
    <div class="row mb-5 mx-lg-5">
      <div class="col-12 float-top">
        <h1 class="title positive-ls-1 text-10 text-lg-12 text-center pb-5">Lista de desejos</h1>
      </div>

      {% for i in range(0, 3) %}
      <div class="col-6 col-lg-3 product px-2 px-lg-4">
        <span class="product-thumb-info border-0 mb-4">
          <a href="{{url_base}}/Loja/detalhe">
            <span class="product-thumb-info-image">
              <img alt="Produto" class="img-fluid" src="{{url_base}}/assets/img/products/21122.png"/>
            </span>
          </a>
          <span class="product-thumb-info-content product-thumb-info-content pt-0 pl-0">
            <div class="row">
              <div class="col-10 my-auto pt-3 line-height-0">
                <h4 class="product-name text-2 text-lg-3">Robe clássico</h4>
                <span class="price">
                  <span class="amount product-price text-paragraph text-uppercase text-2 text-lg-3">30,50€</span>
                </span>
              </div>
              <div class="col-2 text-right px-0 pt-3 line-height-0">
                <button class="btn p-0"><img src="{{url_base}}/assets/img/icons/eliminar.svg" alt="Eliminar" class="img-fluid"/></button>
              </div>
              <div class="col-12 mt-2 mb-3">
                <p class="product-ref text-paragraph text-uppercase text-2 mb-0 line-height-0">R. 20631</p>
                <p class="product-size text-paragraph text-uppercase text-2 mb-0 line-height-0">Tamanho M</p>
              </div>
              <div class="col-12 mt-1 px-0 mb-3 mb-lg-5">
                <button href="javascript:void(0);" class="btn shop-button pl-4 text-2 text-lg-3">Adicionar ao carrinho</button>
              </div>
            </div>
          </span>
        </span>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
