{% include 'Includes/deslize.html' %}
<div class="container-fluid politica mb-5">
  <div class="container mb-5">
    <div class="row mx-lg-5">
      <div class="col-12 mtop pt-5 px-0 px-lg-2">
        <h1 class="title positive-ls-1 text-10 text-lg-12 mtop mb-lg-5 pb-lg-5 text-center text-lg-left">Política de envios e devoluções</h1>
        <p class="text-paragraph-politica text-uppercase mt-5 mb-4">Introdução</p>
        <p class="text-paragraph text-3">O presente documento contém as Condições que regulam a utilização desta página Web e o contrato que irá vincular o cliente e a entidade (IORA LINGERIE). Estas condições estabelecem os direitos e obrigações de todos os utilizadores em relação aos produtos/serviços que oferecemos através desta página. Solicitamos uma leitura atenta às presentes Condições, bem como à nossa Política de Privacidade, antes de clicar no botão “PROCEDER AO PAGAMENTO” para concluir a encomenda. Ao utilizar esta página Web, ou ao efetuar uma encomenda através da mesma, aceita estar vinculado a estas Condições e à nossa Política de Privacidade, pelo que, se não estiver de acordo com todas as Condições e com a Política de Privacidade, não deve concluir nenhuma encomenda.

        Estas Condições podem ser modificadas, pelo que as deve ler antes de efetuar cada encomenda.

        Caso tenha alguma dúvida adicional, pode sempre utilizar os contactos disponíveis para o fazer.
        </p>

        <h1 class="text-paragraph-politica text-uppercase mb-2">A nossa página web e a sua utilização</h1>
        <p class="text-paragraph text-3">As presentes Condições são as únicas condições aplicáveis para a utilização desta página Web e substituem qualquer outra, exceto se existir o consentimento prévio expresso e por escrito do vendedor. Estas Condições são importantes, tanto para (si) o cliente como para nós, pois foram elaboradas para criar entre ambas as partes envolventes, um acordo legalmente vinculativo que protege os seus direitos como cliente e os nossos direitos como empresa. Declara que, ao efetuar a sua encomenda, leu e aceitou sem qualquer reserva as presentes Condições.

        Aceita que:

        Só poderá utilizar a página Web para efetuar consultas ou encomendas legalmente válidas.

        Não poderá realizar qualquer encomenda especulativa, falsa ou fraudulenta. Se tivermos motivos razoáveis para considerar que efetuou uma encomenda deste carácter, estamos autorizados a anulá-la e informar as autoridades competentes.

        Facultar-nos, de forma verdadeira e correta, o seu endereço eletrónico, o seu endereço postal e/ou outros dados de contacto, estando consciente de que poderemos utilizar esta informação para o contactarmos caso seja necessário (consultar a nossa Política de Privacidade).

        Caso não nos faculte toda a informação necessária, não poderemos concluir a sua encomenda.

        Ao efetuar uma encomenda através desta página Web garante-nos que tem mais de 18 anos e que tem capacidade legal para celebrar contratos vinculativos.
        </p>

        <h1 class="text-paragraph-politica text-uppercase mb-2">Visitas a esta página e os seus dados</h1>
        <p class="text-paragraph text-3">A informação ou os dados facultados pelo cliente serão tratados em conformidade com o estabelecido na Política de Privacidade, e deste modo, ao utilizar esta página Web, o cliente está a consentir o tratamento dos mesmos, declarando que toda a informação ou dados que nos facultou são verdadeiros e correspondem à realidade.
        </p>

        <h1 class="text-paragraph-politica text-uppercase mb-2">Como se formaliza o contrato</h1>
        <p class="text-paragraph text-3">Não existirá qualquer contrato entre a IORA LINGERIE e o respetivo Consumidor em relação a nenhum produto até que a sua encomenda tenha sido expressamente aceite por nós. Se a sua oferta não for aceite e se já tiver procedido a um débito na sua conta, esse montante ser-lhe-á reembolsado na totalidade.

        Para efetuar uma encomenda deverá seguir o procedimento de compra online e clicar em “Proceder ao Pagamento”. Todas as encomendas de produtos estão sujeitas à disponibilidade dos mesmos e, neste sentido, em caso de dificuldades quanto ao seu fornecimento, ou se não existirem artigos em stock, reembolsaremos o valor que poderá ter pago.

        Apenas serão objeto do Contrato os produtos referenciados na "Confirmação de Envio". Não ficaremos obrigados a fornecer nenhum outro produto que possa ter sido objeto de encomenda até que lhe confirmemos o envio dos mesmos numa "Confirmação de Envio" separada.
        </p>

        <h1 class="text-paragraph-politica text-uppercase mb-2">Produtos e a sua disponibilidade</h1>
        <p class="text-paragraph text-3">Todas as encomendas de produtos estarão sujeitas ao stock existente dos mesmos. Neste sentido, se ocorrer qualquer dificuldade relativamente ao fornecimento de produtos ou se não existirem produtos em stock, está-nos reservado o direito de lhe facultar informações sobre os produtos de substituição, de qualidade igual ou superior, que o cliente poderá encomendar. Se não deseja pedir nenhum desses produtos de substituição, reembolsar-lhe-emos o montante que já tiver pago.
        </p>

        <h1 class="text-paragraph-politica text-uppercase mb-2">Preço e pagamento</h1>
        <p class="text-paragraph text-3">O preço dos produtos será o estipulado na nossa página Web, exceto em caso de erro manifesto. Embora tentemos garantir que todos os preços indicados na página Web estão corretos, podem ocorrer erros. Se descobrirmos um erro no preço dos produtos que encomendou, informá-lo-emos assim que possível e dar-lhe-emos a opção de a anular ou de a confirmar novamente ao preço correto.
        Como tal não seremos obrigados a proceder ao envio da encomenda.
        Os preços da página Web incluem IVA.
        Os preços podem ser alterados em qualquer altura, mas, exceto conforme o estabelecido anteriormente, as possíveis alterações não afetarão as encomendas em relação às quais já lhe tenhamos enviado uma “Confirmação de Envio”.
        Se existir um erro óbvio e inequívoco no preço e se de uma forma razoável o mesmo puder ser reconhecido pelo cliente como sendo um preço inferior ou incorreto, não estaremos obrigados a fornecer-lhe nenhum produto sob estas condições, ainda que tenhamos enviado a Confirmação de Envio.
        Assim que tiver feito as suas compras, todos os artigos que desejar comprar terão sido adicionados "AO SEU CARRINHO DE COMPRAS" e o passo seguinte será processar a encomenda e efetuar o pagamento.

        Preencha ou confirme as informações de contacto, os dados da sua encomenda, a morada para onde pretende que seja enviada a encomenda e que pretende colocar na fatura.

        Clique em "Proceder ao Pagamento" e introduza os dados do seu cartão.

        Poderá pagar com PayPal ou através de referência multibanco. Para minimizar o risco de acesso não autorizado, os dados do seu cartão de crédito serão encriptados.

        Ao clicar em "Validar Pagamento" está a confirmar que o cartão de crédito é seu.

        Os cartões de crédito estão sujeitos a verificações e autorizações pela entidade emissora dos mesmos, porém, se essa entidade não autorizar o pagamento, não podemos ser responsabilizados por nenhum atraso/falta de entrega e não nos será possível formalizar nenhum Contrato com o cliente final.
        </p>

        <h1 class="text-paragraph-politica text-uppercase mb-2">Entrega</h1>
        <p class="text-paragraph text-3">Sem prejuízo do definido na anterior cláusula e salvo circunstâncias extraordinárias, tentaremos enviar a encomenda do(s) produto(s) referido(s) na “Confirmação de Envio” antes da data de entrega indicada na mesma, ou caso não seja especificada nenhuma data de entrega, enviaremos a sua encomenda no prazo máximo de 15 dias a contar da data de “Confirmação de envio”.
        O atraso pode dever-se às seguintes razões:
        </p>

        <p class="text-paragraph text-paragraph-list text-3">Personalização dos produtos,
        Artigos especializados,
        Circunstâncias imprevistas,
        Zona de entrega.
        </p>

        <p class="text-paragraph text-3">Se por qualquer motivo não pudermos cumprir com a data de entrega, informá-lo-emos disso e dar-lhe-emos a opção de continuar com a compra, definindo uma nova data de entrega ou de anular a encomenda, com o reembolso total do preço pago. Tenha sempre em atenção que não efetuamos entregas aos Sábados nem aos Domingos.

        De acordo com as presentes Condições, entendemos que se procedeu à entrega ou que o(s) produto(s) foi/foram entregue(s) no momento da assinatura da receção dos mesmos na morada de entrega acordada.
        </p>

        <h1 class="text-paragraph-politica text-uppercase mb-2">Impossibilidade de concluir uma encomenda</h1>
        <p class="text-paragraph text-3">Reservamo-nos o direito de retirar qualquer produto desta página Web em qualquer momento e de suprimir ou modificar qualquer material ou conteúdo da mesma. Apesar de fazermos todos os possíveis para concluirmos sempre todas as encomendas, podem ocorrer circunstâncias excecionais que nos obriguem a recusar a conclusão de alguma encomenda após termos enviado a Confirmação de Encomenda, pelo que nos reservamos o direito de o fazer a qualquer momento, se assim o entendermos.

        Não seremos responsáveis, perante o cliente ou qualquer terceiro, pelo facto de retirarmos qualquer produto desta página Web, independentemente de esse dito produto ter sido vendido ou não, de suprimirmos ou modificarmos qualquer material ou conteúdo da página Web ou por nos negarmos a concluir uma encomenda após termos enviado a Confirmação de Encomenda.
        </p>

        <h1 class="text-paragraph-politica text-uppercase mb-2">Impossibilidade de entrega</h1>
        <p class="text-paragraph text-3">Se nos for impossível, após duas tentativas, efetuar a entrega, tentaremos encontrar um local seguro para deixar a encomenda. Deixaremos uma nota a explicar onde se encontra a sua encomenda e como fazer para a levantar. Se não estiver no local de entrega à hora marcada, pedimos que nos contacte para combinarmos a entrega para outro dia. Se o cliente, após o prazo mencionado, não tiver levantado a encomenda, entenderemos que deseja desistir do Contrato e considerá-lo-emos rescindido.
        </p>

        <h1 class="text-paragraph-politica text-uppercase mb-2">Transferência dos riscos e da propriedade dos produtos</h1>
        <p class="text-paragraph text-3">Os riscos dos produtos estarão a cargo do cliente a partir do momento da sua entrega.

        O cliente adquirirá a propriedade dos produtos quando recebermos o pagamento total dos montantes devidos relativamente aos mesmos, ou no momento da entrega (de acordo com a definição contida na cláusula anterior), se esta data for posterior.
        </p>

        <h1 class="text-paragraph-politica text-uppercase mb-2">Responsabilidade e isenção de responsabilidade</h1>
        <p class="text-paragraph text-3">Com exceção dos casos em que se prevê disposições específicas diferentes nas presentes Condições, a nossa responsabilidade em relação a qualquer produto adquirido na nossa página Web limitar-se-á, estritamente, ao preço de compra desse produto.

        Todavia, a nossa responsabilidade não está excluída nem limitada nos seguintes casos:

        Em caso de morte ou danos pessoais sofridos por negligência da nossa parte;

        Em caso de fraude ou de falsidade fraudulenta;

        Em qualquer assunto em que seja ilegal ou ilícito excluirmos, limitarmos ou tentarmos excluir ou limitar a nossa responsabilidade.

        Sem prejuízo do disposto no parágrafo anterior e na medida em que seja legalmente permitido, com exceção dos casos em que se prevê disposições específicas diferentes nas presentes Condições, não aceitaremos nenhuma responsabilidade pelas seguintes perdas, independentemente da sua origem:

        Perdas de receitas ou de vendas;

        Perdas de negócios;

        Perdas de lucros ou de contratos;

        Perdas de poupanças previstas;

        Perdas de dados;

        Perdas de tempo de gestão ou de horas de trabalho.

        Dada a natureza aberta desta página Web e a possibilidade de ocorrência de erros no armazenamento e transmissão da informação digital, não garantimos a precisão e a segurança das informações transmitidas ou obtidas por meio desta página Web, salvo se a mesma dispuser expressamente o contrário.

        Todas as descrições dos produtos, informações e materiais que figuram nesta página Web são fornecidos como sendo verdadeiros e sem garantias expressas ou implícitas sobre os mesmos. Na medida do permitido por lei, excluímos todas as garantias, salvo as que não possam ser legitimamente excluídas em relação aos consumidores e utilizadores.

        O disposto na presente cláusula não afetará os seus direitos legais como consumidor e utilizador nem o seu direito de desistir do Contrato.
        </p>

        <h1 class="text-paragraph-politica text-uppercase mb-0">Política de trocas e devoluções</h1>
        <h1 class="text-paragraph-politica text-uppercase mb-2">Direito legal de desistência da compra</h1>
        <p class="text-paragraph text-3">De acordo com as normas aplicáveis, se estiver a contratar enquanto consumidor, o cliente poderá desistir do Contrato (exceto quando o objeto do mesmo for qualquer um dos produtos para os quais se exclui o direito de desistência) a qualquer momento, no prazo de 14 dias a contar da data de entrega da encomenda.

        Neste caso, reembolsar-se-á o montante pago pelos produtos no prazo de 30 dias. O cliente encarregar-se-á dos custos diretos de devolução do produto se não efetuar a devolução através de qualquer um dos métodos gratuitos mencionados na cláusula seguinte.

        O cliente poderá exercer o direito de desistência por qualquer forma admitida por lei, considerando-se, de qualquer maneira, validamente exercitado esse direito mediante o envio do documento de desistência que facultamos ou mediante a devolução dos produtos.

        Esta disposição não afeta os outros direitos reconhecidos ao consumidor pela legislação em vigor.
        </p>

        <h1 class="text-paragraph-politica text-uppercase mb-2">Direito contratual de desistência</h1>
        <p class="text-paragraph text-3">Para além do direito de desistência legalmente reconhecido aos consumidores e utilizadores, mencionado na anterior cláusula, concedemos ao cliente um prazo de 14 dias a contar da data da Confirmação de Envio para efetuar a devolução dos produtos (exceto os mencionados na anterior Cláusula, relativa ao que está excluído no direito de desistência). A devolução do cartão de oferta rege-se pelas Condições de utilização do cartão de oferta.
        Em caso de devolução, reembolsar-se-á o montante pago pelos produtos devolvidos no prazo de 30 dias. O cliente encarregar-se-á dos custos diretos de devolução do produto se não efetuar a devolução através de qualquer um dos métodos gratuitos mencionados na Cláusula seguinte.
        O cliente deverá exercer o seu direito de desistência mediante o envio do documento de desistência que lhe facultamos ou mediante a devolução dos produtos.
        </p>

        <h1 class="text-paragraph-politica text-uppercase mb-2">Disposições comuns</h1>
        <p class="text-paragraph text-3">O cliente não tem direito a desistir do Contrato quando o objeto for o fornecimento de algum dos seguintes produtos:
        </p>

        <p class="text-paragraph text-paragraph-list text-3">Artigos personalizados,

        Acessórios,

        Meias,

        Roupa interior.
        </p>

        <p class="text-paragraph text-3">O direito a desistir da Compra aplica-se, exclusivamente, aos produtos que possam ser devolvidos nas mesmas condições em que o cliente os recebeu. Por favor, devolva o artigo, utilizando ou incluindo a embalagem original. Deverá incluir, igualmente, todas as instruções, etiquetas, documentos e embalagens dos produtos. Em todo o caso, deverá entregar, devidamente preenchido o documento para a devolução (doravante “talão”) que recebeu no momento da entrega do produto, juntamente com o produto a devolver. Não será efetuado nenhum reembolso se o produto tiver sido utilizado para além da simples abertura da respetiva embalagem ou se tiver sofrido danos, por isso, o cliente deverá ser cuidadoso com os produtos enquanto estes estiverem em sua posse.

        Só se efetuam trocas por um mesmo artigo de cor ou tamanho diferentes.

        Encontrará um resumo sobre o exercício deste direito de desistência quando receber a Confirmação de Envio.

        Poderá efetuar as trocas na sede da IORA LINGERIE ou através dos correios/transportadoras.

        Devoluções na loja

        Poderá devolver os produtos na nossa sede. Neste caso, deverá dirigir-se e entregar, juntamente com o artigo, o talão devidamente preenchido, que recebeu no momento da entrega do produto.

        Devoluções através de Correios/Transportadora

        Deverá entregar a mercadoria na mesma embalagem em que a recebeu, seguindo as instruções que receberá após nos contactar acerca da devolução.

        Caso pretenda devolver, o cliente será responsável pelos custos de devolução. Por favor, note que, se decidir devolver-nos os artigos à cobrança, estaremos autorizados a cobrar-lhe as despesas em que possamos incorrer.

        Depois de examinarmos os artigos, comunicar-lhe-emos se tem direito à devolução das quantidades pagas. A devolução efetuar-se-á com a maior brevidade possível e, em qualquer caso, no prazo de 14 dias a contar da data em que o cliente nos comunicou a sua intenção de desistir. A devolução efetuar-se-á sempre pelo mesmo meio de pagamento que o cliente utilizou para pagar a compra.

        Se tiver alguma dúvida, pode contactar-nos através do nosso email.
        </p>

        <h1 class="text-paragraph-politica text-uppercase mb-2">Devolução de produtos</h1>
        <p class="text-paragraph text-3">O cliente será responsável pelos custos de devolução. Por favor, note que, se decidir devolver-nos os artigos à cobrança, estaremos autorizados a cobrar-lhe as despesas em que possamos incorrer.

        O cliente tem 15 dias para fazer a devolução do(s) artigo(s), a contar da data de Confirmação de Envio. Os artigos deverão ser devolvidos em perfeitas condições e ainda com etiquetas.

        Depois de examinarmos os artigos, comunicar-lhe-emos se tem direito a efetuar a troca por outro artigo de valor igual ou superior.
        </p>

        <h1 class="text-paragraph-politica text-uppercase mb-2">Ligações a partir da página web</h1>
        <p class="text-paragraph text-3">Caso a nossa página Web contenha ligações a outras páginas e materiais de terceiros, estas ligações são fornecidas meramente a título informativo, sem que tenhamos qualquer controlo sobre o conteúdo dessas páginas ou materiais. Assim, não aceitaremos qualquer responsabilidade por danos ou perdas devidas à sua utilização.
        </p>

        <h1 class="text-paragraph-politica text-uppercase mb-2">Acontecimentos fora do nosso controlo</h1>
        <p class="text-paragraph text-3">Não seremos responsáveis por nenhum incumprimento ou atraso de alguma das obrigações por nós assumidas ao abrigo de um Contrato cuja causa se deva a acontecimentos que estão fora do nosso controlo razoável (Motivos de Força Maior).

        Os Motivos de Força Maior incluem qualquer ato, acontecimento, falta de exercício, omissão ou acidente que esteja fora do nosso controlo razoável, incluindo, entre outros, os seguintes:
        </p>

        <p class="text-paragraph text-paragraph-list text-3">Greves, encerramentos por parte patronal ou outras medidas reivindicativas.

        Perturbações da ordem pública, revoltas, invasões, ataques ou ameaças terroristas, guerra (declarada ou não) ou ameaças ou preparativos de guerra.

        Incêndios, explosões, tempestades, inundações, terramotos, aluimentos, epidemias ou qualquer outro desastre natural.

        Impossibilidade de utilizar comboios, barcos, aviões, transportes de motor ou outros meios de transporte, públicos ou privados.

        Impossibilidade de utilizar sistemas públicos ou privados de telecomunicações.

        Atos, decretos, legislação, normas ou restrições de qualquer governo ou autoridade pública.

        Greves, falhas ou acidentes do transporte marítimo ou fluvial, postal ou qualquer outro tipo de transporte.
        </p>

        <p class="text-paragraph text-3">Considerar-se-á que as nossas obrigações derivadas dos Contratos ficam suspensas durante o período em que se verificarem os Motivos de Força Maior e beneficiaremos de um alargamento do prazo para cumprir tais obrigações, por um período de tempo igual ao da duração dos Motivos de Força Maior. Utilizaremos todos os meios razoáveis para fazer cessar os Motivos de Força Maior ou para encontrar uma solução que nos permita cumprir com as nossas obrigações decorrentes do Contrato, apesar dos Motivos de Força Maior.
        </p>

        <h1 class="text-paragraph-politica text-uppercase mb-2">Comunicações por escrito</h1>
        <p class="text-paragraph text-3">A legislação aplicável exige que parte das informações ou comunicações que enviamos sejam por escrito. Ao utilizar esta página Web, o cliente aceita que a maior parte das comunicações connosco sejam eletrónicas. Entraremos em contacto com o cliente por correio eletrónico ou prestaremos informações através de avisos colocados nesta página Web. Para efeitos contratuais, o cliente aceita em utilizar este meio de comunicação eletrónico e reconhece que todos os contratos, notificações, informações e outras comunicações enviadas por via eletrónica satisfazem a exigência legal de que tais comunicações sejam feitas por escrito. Esta condição não afetará os direitos reconhecidos por lei.
        </p>

        <h1 class="text-paragraph-politica text-uppercase mb-2">Propriedade intelectual</h1>
        <p class="text-paragraph text-3">Reconhece e concorda que todos os copyrights, marcas registadas e outros direitos de propriedade intelectual e industrial sobre os materiais ou conteúdos que fazem parte da página Web nos correspondem sempre a nós ou a quem nos conceder licença para a sua utilização. Poderá utilizar esse material unicamente na forma em que expressamente nós autorizarmos ou quem nos outorgar licença para a sua utilização. Isto não impedirá que utilize esta página Web quando necessário para copiar a informação sobre a sua encomenda ou os dados de contacto.
        </p>

        <h1 class="text-paragraph-politica text-uppercase mb-2">Cessação dos direitos e obrigações</h1>
        <p class="text-paragraph text-3">O Contrato é vinculativo para o cliente e para nós, assim como para os nossos respetivos sucessores, cessionários e herdeiros.

        O cliente não poderá transmitir, ceder, gravar ou, de qualquer outro modo, transferir um Contrato ou algum dos direitos e obrigações derivados do mesmo em seu benefício ou para si, sem o nosso prévio consentimento por escrito.

        Podemos transmitir, ceder, gravar, subcontratar ou, de qualquer outro modo, transferir um Contrato ou algum dos direitos e obrigações derivados do mesmo em nosso benefício ou para nós, a qualquer altura, durante a vigência do Contrato. Para evitar qualquer dúvida, estas transmissões, cessões, encargos ou outras transferências não afetarão os direitos reconhecidos por lei que, no caso do cliente, este tem enquanto consumidor nem anularão, reduzirão ou limitarão de qualquer outra forma as garantias expressas ou tácitas que lhe possam ter sido outorgadas.
        </p>

        <h1 class="text-paragraph-politica text-uppercase mb-2">Renúncia</h1>
        <p class="text-paragraph text-3">A falta de requerimento, da nossa parte, do estrito cumprimento, por parte do cliente, de alguma das obrigações por ele assumidas em virtude de um Contrato ou das presentes Condições ou a falta de exercício, da nossa parte, dos direitos ou ações que sejam devidos em virtude desse Contrato ou Condições não significará a renúncia nem qualquer limitação em relação a esses direitos ou ações, nem exonerará o cliente de cumprir as suas obrigações.

        Nenhuma renúncia, da nossa parte, a um direito ou ação concreta implicará a renúncia dos nossos direitos ou ações derivadas do Contrato ou das Condições.

        Nenhuma renúncia, da nossa parte, a alguma das presentes Condições ou aos direitos ou ações derivadas do Contrato surtirá efeito, a não ser que se estabeleça, expressamente, que se trata de uma renúncia, se formalize e se comunique ao cliente, por escrito.
        </p>

        <h1 class="text-paragraph-politica text-uppercase mb-2">Nulidade parcial</h1>
        <p class="text-paragraph text-3">Se alguma das presentes Condições ou alguma disposição de um Contrato forem declaradas nulas e sem efeito, por firme resolução por parte de uma autoridade competente, os restantes termos e condições continuam em vigor, sem serem afetados por essa declaração de nulidade.
        </p>

        <h1 class="text-paragraph-politica text-uppercase mb-2">Acordo total</h1>
        <p class="text-paragraph text-3">As presentes Condições e todos os documentos a que sejam feitas referências expressas constituem o acordo integral existente entre nós e o cliente, relativamente ao objeto do Contrato, e substituem qualquer outro pacto, acordo ou promessa anteriormente estabelecidos entre nós e o cliente, verbalmente ou por escrito.

        Nós e o cliente reconhecemos termos consentido a celebração do Contrato sem termos confiado em nenhuma declaração ou promessa feita pela outra parte ou que possa interferir em qualquer declaração por escrito nas negociações entabuladas por ambas as partes antes desse Contrato, salvo aquilo que está expressamente mencionado nas presentes Condições.

        Nem nós nem o cliente agiremos perante qualquer declaração incerta, verbal ou escrita, realizada pela outra parte anteriormente à data do Contrato (salvo tenha feito essa declaração incerta de forma fraudulenta) e a única ação que a outra parte disporá será por incumprimento de contrato, em conformidade com o disposto nas presentes Condições.
        </p>
      </div>

      <div class="col-12 mtop pt-5 px-0 px-lg-2">
        <h1 class="text-paragraph-politica text-uppercase mt-5 pt-5 mb-2">Legislação aplicável e jurisdição</h1>
        <p class="text-paragraph text-3">A utilização da nossa página Web e os contratos de compra realizados através desta página são regidos pela Legislação Portuguesa.

        Qualquer controvérsia que surja ou esteja relacionada com a utilização da página Web ou com tais contratos será submetida à jurisdição não exclusiva dos tribunais portugueses.

        Se o cliente estiver a contratar enquanto consumidor, nada na presente cláusula afetará os direitos que a legislação em vigor lhe reconhece enquanto tal.
        </p>

        <h1 class="text-paragraph-politica text-uppercase mb-2">O nosso direito de modificar estas condições</h1>
        <p class="text-paragraph text-3">Reservamo-nos o direito de rever e alterar as presentes Condições a qualquer momento.

        O cliente está sujeito às políticas e Condições em vigor no momento em que utilize a presente página Web ou faça a sua encomenda, salvo quando, por lei ou decisão de organismos governamentais, devamos fazer alterações, com carácter retroativo, nessas políticas, Condições ou Declaração de Privacidade, neste caso, estas possíveis alterações também afetarão as encomendas que o cliente tenha feito previamente.
        </p>

        <h1 class="text-paragraph-politica text-uppercase mb-2">Comentários e sugestões</h1>
        <p class="text-paragraph text-3">Os seus comentários e sugestões serão bem-vindos, através do nosso correio eletrónico iora@ioralingerie.com .
        </p>
      </div>
    </div>
  </div>
</div>
