{% include 'Includes/deslize.html' %}
<div class="container-fluid politica">
  <div class="container">
    <div class="row mx-lg-5">
    <div class="col-12 mtop pt-5 px-0 px-lg-2">
      <h1 class="title positive-ls-1 text-10 text-lg-12 mtop mb-5 text-center text-lg-left">Política de privacidade e cookies</h1>
      <p class="text-paragraph-politica text-uppercase mt-5 mb-4">Política de Privacidade</p>
      <p class="text-paragraph text-3">A política de privacidade destina-se a informar a forma de recolha, tratamento e protecção dos dados pessoais fornecidos online.
      Qualquer alteração à Política de Privacidade da IORA LINGERIE será disponibilizada nesta página Web. A última atualização foi efetuada em 04/03/2021.

      Para qualquer esclarecimento adicional por favor contacte-nos:

      a) por escrito, para:
      IORA LINGERIE
      Rua da Boavista 63-A
      4700-416 – Braga

      b) através de correio eletrónico para iora@ioralingerie.com
      Os dados recolhidos destinam-se a ser analisados para efeitos de decisão e gestão dos serviços a prestar, bem como para ações de marketing direto.
      Os dados fornecidos são confidenciais, não sendo partilhados com entidades terceiras.
      A entidade responsável pelo tratamento dos dados recolhidos é a IORA LINGERIE, com sede na Rua da Boavista, 63-A, 4700-416 Braga, Portugal.
      </p>

      <p class="text-paragraph-politica text-uppercase my-4">Segurança</p>
      <p class="text-paragraph text-3">Não obstante a Iora Lingerie procede à recolha e tratamento dos dados recolhidos de forma segura, e que impede o seu extravio ou manipulação, informa que a recolha de dados em redes abertas permite a circulação dos dados sem condições de segurança, correndo o risco de serem vistos e utilizados por terceiros não autorizados.

      A transmissão de dados através da Internet nunca é totalmente segura, podendo existir terceiros que intercetem ou acedam à informação, pelo que a transmissão de dados é da inteira responsabilidade do transmitente.

      O titular dos dados tem direito de acesso, retificação, cancelamento e oposição à comunicação dos seus dados. Tal direito pode ser exercido através de um dos seguintes meios:

      a) por escrito, para:
      IORA LINGERIE
      Rua da Boavista 63-A
      4700-416 – Braga

      b) através de correio electrónico para iora@ioralingerie.com 
      </p>
    </div>

    <div class="col-12 mb-5 py-5">
      <p class="text-paragraph-politica text-uppercase my-4">Política de Cookies</p>
      <p class="text-paragraph text-3">Um “cookie” é um pequeno ficheiro descarregado para o seu computador quando visita um website.
      Os “cookies” armazenam informações sobre a sua visita, tais como, qual o seu idioma preferido para navegar no site ou outro tipo de informações semelhantes. Com o armazenamento dessas informações, os sites facilitam a sua próxima visita de forma a tornar a navegação no site mais simples.
      Os navegadores web têm opções de personalização para o uso de “cookies”. Habitualmente um navegador oferece as seguintes opções de configuração:
      </p>

      <p class="text-paragraph text-paragraph-list text-3">Mostrar “cookies”;
      Permitir “cookies”;
      Desativar todos ou determinados “cookies”;
      Desativar todos os “cookies” quando fechar o navegador;
      Bloquear “cookies”;
      Informar o utilizador antes de salvar um “cookie”;
      </p>

      <p class="text-paragraph text-3">Nota sobre os “cookies”:
      Se bloquear os nossos “cookies” nas definições do seu browser poderá deixar de ter acesso a todas ou parte das áreas do nosso website. Isso poderá afetar a sua experiência de navegação.
      No caso de escolher a opção “Eliminar todos os cookies” do seu browser, as definições padrões serão apagadas.
      Se deixar que o seu navegador guarde os cookies, eles irão ser usados no momento da sua próxima visita ao nosso site.
      </p>

      <p class="text-paragraph-politica text-uppercase my-4">Apoio ao Cliente</p>
      <p class="text-paragraph text-3">Pode enviar-nos um e-mail para iora@ioralingerie.com e receberá uma resposta o mais rapidamente possível.</p>

      <p class="text-paragraph-politica text-uppercase my-4">Termos e Condições</p>
      <p class="text-paragraph text-3">1. O acesso e uso deste website estão sujeitos à aceitação destes termos e condições. Se não concordar com estes termos e condições deve cessar imediatamente o uso deste website.

      2. O conteúdo e a informação disponibilizada neste website, incluindo os seus termos e condições, podem, a qualquer momento, ser alterados por parte da IORA LINGERIE.

      3. O acesso ao website desta empresa pode ser suspenso temporária ou permanentemente e sem aviso prévio. Embora façamos o possível por garantir que o website está disponível 24 horas por dia, não seremos responsáveis se, por qualquer razão, o website não estiver disponível em qualquer altura ou por qualquer período de tempo.

      4. Embora façamos todo o possível para garantir que todas as informações contidas no website são exatas, não podemos assegurar que todas as informações sejam precisas e atualizadas. Deste modo, não aceitamos qualquer responsabilidade por erros ou omissões no que respeita ao conteúdo do website.

      5. No caso de encontrar informações erradas no website solicitamos que nos informe. Tomaremos de imediato as medidas necessárias para a sua correção.

      6. Ao aceder a outros websites através de links fornecidos pelo site da IORA LINGERIE, o utilizador reconhece que esta empresa não exerce qualquer tipo de controlo sobre os conteúdos desses websites e que, como tal, não pode ser responsabilizado por quaisquer consequências resultantes do acesso aos mesmos, seja a que título for.

      7. A IORA LINGERIE não será responsável por danos resultantes em contratos, documentos legais, ou outros pelo uso ou incapacidade de uso deste website ou de qualquer material nele contido bem como qualquer ação ou decisão tomadas como resultado do uso deste website ou desse material.

      8. O utilizador reconhece que toda a informação e conteúdos disponibilizados neste website, incluindo imagens, vídeos, textos e informações, logótipos e desenho gráfico do website ou qualquer documento ali constante, são da propriedade industrial ou intelectual da IORA LINGERIE ou de terceiros que autorizaram a sua inclusão, ou que para tanto foram autorizados.

      9. É expressamente proibido, ao utilizador, copiar, salvo autorização concedida pela IORA LINGERIE, armazenar, reproduzir, alterar, transmitir, divulgar, comercializar ou, por qualquer outra forma, tornar acessível a terceiros a informação disponibilizada através deste website, salvo se para fins privados e de forma gratuita. A eventual utilização de informação deverá sempre fazer referência à fonte.
      </p>
    </div>
  </div>
</div>
</div>
