.float-top {
  margin-top: 15vh;
}

/* #################################################  HORIZONTAL RULES   ########################################################## */
::-webkit-scrollbar {
  /* width: 2px; */
  width: 0px;
  height: 2px;
}

::-webkit-scrollbar-button {
  width: 2px;
  height: 2px;
}

div {
  box-sizing: border-box;
}

.product-detail-img {
  overflow: auto;
}

.horizontal-scroll-wrapper {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vw;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg) translateY(-100vh);
  transform-origin: right top;
  /* z-index: 11; */
}

.horizontal-scroll-wrapper>div,
.horizontal-scroll-wrapper .product-wrapper>div {
  display: block;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: left top;
  z-index: -1;
}

.transform {
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: left top;
}

/* ################################################################################################################################ */
.notice-bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #78614C;
  z-index: 1000;
  font-family: Brother-1816-Regular, sans-serif;
}

.notice-bottom-bar a {
  font-family: Brother-1816-Regular, sans-serif;
}

.notice-bottom-bar .notice-button {
  background: rgba(235, 34, 63, 0.7);
  color: #78614C;
  border-radius: 35px;
  -webkit-transition: ease background 300ms;
  transition: ease background 300ms;
  text-decoration: none;
}

.notice-bottom-bar .notice-button:hover {
  background: #eb223f;
}

/* Custom Scrollbar  */
.scroll {
  padding-right: 2em;
  scrollbar-width: thin;
  /* scrollbar-width: none; */
}

.scroll::-webkit-scrollbar {
  width: 0.3em;
}

.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #A78C72;
  border-radius: 10px;
}

/* html {
  overflow-y: hidden;
} */
.title {
  color: #78614C;
  font-family: Playfairdisplay-Italic, sans-serif;
  font-size: 6vh;
}

.title-pre {
  white-space: pre-line;
}

.subtitle {
  color: #A78C72;
  font-family: Brother-1816-Medium, sans-serif;
  font-size: 2.2vh;
}

.text-paragraph {
  color: #78614C;
  font-family: Brother-1816-Regular, sans-serif;
  font-size: 1.8vh;
  white-space: pre-line;
}

.text-paragraph a,
.text-paragraph a:hover,
.text-paragraph a:focus {
  color: #78614C;
}

.text-link,
.text-link:hover,
.text-link:focus {
  color: #78614C;
  font-family: Brother-1816-Regular, sans-serif;
  font-size: 1.5vh;
}

.description-text {
  position: relative;
  right: 35vh;
  height: 65vh;
  width: 30vw;
  margin: 10px;
  top: 25vh;
  font-size: 1.6vh;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 60vh;
}

.page-img {
  position: relative;
  /* width: 100vh; */
  height: 100vh;
}

.page-img h1,
.page-img-mobile h1 {
  /* position: absolute; */
  /* top: 50vh; */
  z-index: 12;
  font-family: Playfairdisplay-Italic, sans-serif;
  font-size: 12vh;
}

.page-img-mobile h1 {
  position: absolute;
  bottom: 50%;
  top: 50%;
}

.page-img-bg {
  width: 50vw;
}

.page-img-bg-mobile {
  height: 35vh;
}

.page-img-overlay,
.page-img-overlay-mobile {
  position: absolute;
  width: 100%;
  background: #78614C;
  opacity: 0.5;
  mix-blend-mode: multiply;
}

.page-img-overlay {
  height: 100%;
}

.page-img-overlay-mobile {
  height: 35vh;
  bottom: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.product-div-home::-webkit-scrollbar,
.product-div::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.product-div-home,
.product-div {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.space {
  position: relative;
  right: 20vh;
  width: 60vh;
  height: 60vh;
  background-color: transparent;
}

.page-hr {
  position: absolute;
  width: 65vw;
  left: 50vw;
  top: 90vh;
}

.page-hr p {
  font-family: Brother-1816-Regular, sans-serif;
  font-size: 1.5vh;
}

hr {
  width: 50%;
  background-color: #77614D;
}

button:focus {
  outline: 0;
}

/* Menu */

.transparent-menu {
  background: transparent;
}

#mainmenu {
  top: -3vh;
}

.openmenu100,
.closemenu100 {
  /* outline: 0 !important; */
  border: none;
  /* width: 30px;
  height: 30px; */
  padding: 0;
  /* margin: 15px;
  display: inline-block;
  position: relative; */
  cursor: pointer;
  /* position: absolute;
  top: 15px;
  right: 8px; */
  background-color: transparent;
}

.openmenu100 .hamburguer span {
  display: block;
  width: 50px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #78614C;
  border-radius: 3px;
  z-index: 1;
}

.closemenu100 {
  display: block;
  width: 50px;
  height: 2px;
  margin-bottom: 5px;
  background: #78614C;
  border-radius: 3px;
  position: absolute !important;
  z-index: 1 !important;
  background: #FFF;
  margin-top: 8vh;
  right: 9vh;
}

.menu-item-position {
  z-index: 15;
  position: relative;
}

.menu100 {
  z-index: 15;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.menu100-overlay {
  width: 50vw;
  height: 100vh;
  background: #A78C72;
  opacity: 0.5;
}

.menu100-right {
  background: #A78C72;
  height: 100vh;
}

.menu100-lista,
.menu100-lista-catalogo {
  width: 100vw;
  height: 100vh;
  padding-left: 10vh;
  font-family: Brother-1816-Medium, sans-serif;
  font-size: 4vw;
}

.menu100-lista {
  padding-top: 25vh;
}

.menu100-lista-catalogo {
  padding-top: 10vh;
}

.menu100-item {
  line-height: 1.7em;
}

.menu100-footer {
  padding-left: 10vh;
  position: absolute;
  top: 74vh;
}

.menu100 .menu100-copyright {
  padding-left: 10vh;
  position: absolute;
  top: 90vh;
}

.menu100-p {
  font-family: Playfairdisplay-Italic, sans-serif;
  font-size: 6vh;
  color: #78614C;
  line-height: 8vh;
  margin-bottom: 10px;
}

/* DETALHE LOJA  */
.quantity input {
  background-color: #FDFCFA;
}

.shop-button,
.cart-button,
.checkout-button:hover,
.login-button,
.create-button,
.save-button,
.plus-button,
.back-button {
  background: #78614C;
  color: #FFF;
  text-transform: uppercase;
  font-family: Brother-1816-Medium, sans-serif;
  letter-spacing: 1px;
  border-radius: 0;
  width: 100%;
  padding: 0.5rem 1em;
  outline: none;
  cursor: pointer;
}

.checkout-button {
  background: #FDFCFA;
  color: #78614C;
  text-transform: uppercase;
  font-family: Brother-1816-Medium, sans-serif;
  letter-spacing: 1px;
  border-radius: 0;
  width: 100%;
  padding: 0.5rem 1em;
  outline: none;
  cursor: pointer;
}

.shop-button:hover,
.login-button:hover,
.create-button:hover,
.save-button:hover,
.plus-button:hover,
.back-button:hover {
  color: #FFF;
  background-color: #A78C72;
}

.cart-button:hover {
  color: #78614C;
  background-color: #FDFCFA;
}

.favorite-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.add-favorite-icon {
  display: none;
}

.detail-img {
  height: 120vh;
  overflow: auto;
}

.detail-img img {
  /* height: 100%; */
}

.rotate {
  transform: rotate(90deg);
  font-family: Brother-1816-Regular, sans-serif;
  color: #78614C;
  text-transform: uppercase;
  position: fixed;
  z-index: 2;
  /* transform-origin: center center; */
}

.rotate::after {
  display: inline-block;
  content: "";
  height: 2px;
  background: #78614C;
  position: absolute;
  width: 13rem;
  top: 50%;
  margin-top: -1px;
  margin-left: 1.5rem;
}

.modal-dialog {
  min-width: 35vw;
  margin: 0 auto;
  top: 25vh;
}

.modal-header {
  padding: 0 0;
  border-bottom: none;
}

.modal-header img {
  width: 50%;
}

.modal-body {
  padding: 1.5rem 0 1.5rem 0;
}

.modal-content {
  background: #A78C72;
  border: none;
  border-radius: 0;
  outline: 0;
  padding: 2.5rem 3rem;
}

.modal-content p {
  color: white;
  font-family: Brother-1816-Regular, sans-serif;
  text-transform: uppercase;
}

.modal-button {
  background: #FDFCFA;
  color: #78614C;
  font-family: Brother-1816-Medium, sans-serif;
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.3rem 1.5rem;
  border: 0;
  cursor: pointer;
}

.modal-backdrop.show {
  opacity: 0.8 !important;
}

/* CART  */
.bg-opacity {
  /* opacity: 0.4; */
  /* width: 50vw;
  height: 100vh; */

  /* background-color:rgba(43, 33, 23, 0.65);
  background: #A78C72;
  opacity: 0.5; */
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(44, 33, 23, 0.4);
  z-index: 2;
}

.bg-cart {
  background: #A78C72;
  z-index: 11;

}

.cart-container {
  z-index: 1030;
  position: absolute;
  width: 20vw !important;
  min-height: 100vh;
  right: 0;
}

.cart {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

/* Footer */
#footer {
  position: absolute;
  z-index: 16;
  background-color: #78614C;
  width: 18vw;
  height: 100vh;
  margin: auto;
  top: 0;
  right: 0;
  font-family: Brother-1816-Medium, sans-serif;
  font-size: 1.4vh;
}

#footer-mobile {
  background-color: #78614C;
  font-family: Brother-1816-Medium, sans-serif;
  font-size: 1.4vh;
}

.mtop {
  margin-top: 7vh;
}

.footer-social {
  margin-top: 25vh;
}

.footer-rights {
  font-family: Brother-1816-Regular, sans-serif;
  font-size: 1.4vh;
}

.footer-rights-mobile {
  font-family: Brother-1816-Regular, sans-serif;
  font-size: 1.4vh;
}

.footer-social-mobile img {
  vertical-align: sub;
}

.footer-rights {
  top: 40vh;
}

/* Home Page */
.page-img-30 {
  position: relative;
  width: 50vh;
  height: 100vh;
  /* margin-bottom: -10vh; */
}

.home-text-1 .title {
  font-size: 7vh;
  line-height: 10vh;
}

.home-text-1 .subtitle {
  font-family: Brother-1816-Regular, sans-serif;
}

.home-text-1 {
  position: relative;
  right: 40vh;
  height: 65vh;
  width: 35vw;
  margin: 10px;
  font-size: 1.6vh;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 22vh;
  margin-top: 12vh;
}

.home-img-2 {
  position: relative;
  top: 20vh;
  height: 86vh;
  width: 90vh;
  right: 14vh;
  margin-bottom: 25vh;
  margin-top: -15vh;
}

.product-wrapper {
  /* display: block; */
  transform: rotate(0deg) !important;
  /* transform-origin: left top; */
  z-index: -1;
  width: 100%;
  /* margin-bottom: 40vh; */
}

.product-wrapper .title {
  position: relative;
  top: 14vh;
  right: 17vh;
}

.product-wrapper .subtitle {
  position: relative;
  top: 5.5vh;
  right: 25vh;
}

.product-wrapper-btn {
  bottom: 0;
  position: absolute;
  left: -26vh;
  top: 87%;
}

.product-div-home {
  position: relative;
  right: 31vh;
  width: 38vh;
  height: 50vh;
  /* margin: 10px; */
  margin-bottom: -10vh;
  overflow-y: scroll;
  background-color: #E8E8E8;
}

.product-div-home img {
  max-width: 100%;
  max-height: 100%;
}

.product-div-home-description {
  transform: rotate(90deg) translateY(-21vh) !important;
  transform-origin: left top !important;
  z-index: -1 !important;
  position: absolute !important;
  /* margin-top: 10px!important; */
}

/* About Page */
.about-img-1 {
  position: relative;
  right: 14vh;
  width: 149vh;
  height: 86vh;
  margin-bottom: 66vh;
}

.about-text-2 {
  position: relative;
  right: 46vh;
  height: 50vh;
  width: 26vw;
  margin: 10px;
  top: 15vh;
  font-size: 1.6vh;
  margin-bottom: 20vh;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Products Page (Catalogo) */
.product-side-menu {
  position: relative;
  right: 20vh;
  width: 50vh;
  height: 50vh;
  margin: 10px;
  top: 10vh;
  margin-bottom: 20vh;
}

.product-side-menu .title {
  line-height: 8vh;
}

.product-side-menu .nav-item a,
.list-inline .list-inline-item a,
.nav.sort-source .nav-item a,
.breadcrumb a {
  color: #A78C72;
  font-family: Brother-1816-Medium, sans-serif;
  font-size: 2.2vh;
  padding-bottom: 1rem;
  width: max-content;
}

.list-inline .list-inline-item a,
.nav.sort-source .nav-item a,
.breadcrumb a {
  font-size: 2vh;
}

.product-side-menu .nav-item.active a,
.list-inline .list-inline-item.active a,
.nav.sort-source .nav-item.active a,
.breadcrumb .active a {
  color: #78614C;
  font-family: Brother-1816-Medium, sans-serif;
  padding-bottom: 1.5rem;
}

.product-side-menu .nav-item.active a {
  font-size: 4.2vh;
}

.list-inline .list-inline-item.active a,
.nav.sort-source .nav-item.active a,
.breadcrumb .active a {
  font-size: 2.5vh;
}

.product-div-description {
  transform: rotate(90deg) translateY(-30vh) !important;
  transform-origin: left top !important;
  z-index: -1 !important;
  position: absolute !important;
  /* margin-top: 10px!important; */
}

.product-div {
  position: relative;
  right: 22vh;
  width: 38vh;
  height: 50vh;
  /* margin: 10px; */
  margin-bottom: -10vh;
  overflow-y: scroll;
  cursor: pointer;
  /* background-color: #78614C; */
}

.product-div p {
  font-family: Brother-1816-Regular, sans-serif;
  font-size: 1.5vh;
  line-height: 2.5vh;
}

.product-div h4 {
  font-family: Brother-1816-Medium, sans-serif;
  font-size: 1.7vh;
}

.active-section {
  height: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(120, 97, 76, 0.7);
  display: none;
}

.active-section p,
.active-section h4 {
  color: #FFF;
}

.product-div img {
  max-width: 100%;
  max-height: 100%;
}

.product-form-text {
  position: relative;
  right: 30vh;
  height: 70vh;
  width: 30vw;
  margin: 10px;
  top: 15vh;
  font-size: 1.6vh;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 20vh;
}

/* Contact Page */
.text-p-info {
  color: #78614C;
  font-family: Brother-1816-Regular, sans-serif;
  font-size: 1.8vh;
}

.text-p-info a,
.text-p-info a:hover,
.text-p-info a:focus {
  color: #78614C;
}

.description-text-contact {
  position: relative;
  right: 35vh;
  height: 65vh;
  width: 30vw;
  margin: 10px;
  top: 25vh;
  font-size: 1.6vh;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 45vh;
}

.form-text {
  position: relative;
  right: 25vh;
  height: 65vh;
  width: 30vw;
  margin: 10px;
  top: 15vh;
  font-size: 1.6vh;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 45vh;
}

.form-row input,
.form-row input:focus,
.form-row input:valid {
  border: none;
  border-bottom: 1px solid #78614C;
  border-radius: 0;
  background: transparent;
  color: #78614C;
  font-family: Brother-1816-Regular, sans-serif;
}

.form-control {
  color: #78614C;
  font-family: Brother-1816-Regular, sans-serif;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #78614C;
}

textarea {
  resize: none;
  max-height: 10em;
  overflow: auto;
  background-color: #FDFCFA !important;
}

input[type="checkbox"] {
  visibility: hidden;
}

input[type="checkbox"]+label:before {
  border: 1px solid #78614C;
  background: #FDFCFA;
  content: "\00a0";
  display: inline-block;
  font: 14px/1em sans-serif;
  height: 1.1em;
  margin: 0em 0.8em 0 0;
  padding: 0;
  width: 1.1em;
}

.form-row-mobile input[type="checkbox"]+label:before {
  height: 1.5em;
  width: 1.5em;
  font: 16px sans-serif;
}

input[type="checkbox"]:checked+label:before {
  background: #FFF;
  color: #78614C;
  background: #FDFCFA;
  content: "\2713";
  text-align: center;
}

input[type="checkbox"]:checked+label:after {
  font-weight: bold;
}

label {
  font-family: Brother-1816-Regular, sans-serif;
  color: #78614C;
  font-size: 1.3vh;
}

input[type=submit] {
  background-color: transparent;
  border: none;
  color: #78614C;
  font-family: Brother-1816-Regular, sans-serif;
  font-size: 1.5vh;
  text-transform: uppercase;
  cursor: pointer;
  /* text-decoration: underline;
  text-underline-position: under; */
}

input[type=submit]:focus {
  outline: none;
}

/* .contact-img-1 {
  position: relative;
  width: 110vh;
  height: 90vh;
  margin-bottom: 53vh;
} */
.google-maps {
  margin-bottom: 39vh;
}

.google-maps-mobile {
  line-height: 0;
}

.google-maps iframe {
  width: 100vh;
  height: 100vh;
}

.google-maps-mobile iframe {
  max-width: 100%;
  max-height: 100%;
  position: relative;
}

/* Política de Privacidade */
/* .politica {
  height: 100vh;
  overflow-y: auto;
} */
.politica .text-paragraph-politica {
  color: #78614C;
  font-family: Brother-1816-Medium, sans-serif;
  font-size: 1.8vh;
  white-space: pre-line;
}

.text-paragraph-list {
  margin-left: 4vw;
}

/* 404 Page */
.pg-404 {
  height: 100vh;
  background-color: #78614C;
}

.pg-404-color {
  color: #D6C1AA;
}

/* Loja */
.rev-slider-overlay {
  background-image: url('../img/loja-1.png') !important;
  background-position: top center !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(120, 97, 76, 0.3) !important;
  background-blend-mode: multiply;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.features {
  color: #78614C;
  font-family: Brother-1816-Medium, sans-serif;
  font-size: 1.4vh;
}

#footer-desktop,
#footer-store-mobile {
  background-color: #78614C;
  font-family: Brother-1816-Medium, sans-serif;
  font-size: 1.4vh;
}

#footer-desktop .social,
#footer-store-mobile .social {
  font-family: Brother-1816-Regular, sans-serif;
  font-size: 1.4vh;
}

.form-control {
  padding-left: 0;
}

.breadcrumb {
  background-color: transparent;
}

.breadcrumb>li+li::before {
  color: inherit;
  font-family: 'font awesome 5 free';
  font-weight: 900;
  content: "\f068";
  padding: 0 7px 0 5px;
}

.text-thanks {
  color: #78614C;
  font-family: Brother-1816-Medium, sans-serif;
  font-size: 1.8vh;
  white-space: pre-line;
}

.product-total {
  color: #A78C72;
  font-family: Brother-1816-Bold, sans-serif;
  font-size: 2.5vh;
  white-space: pre-line;
}

#frmSignIn a:hover,
#frmSignIn a:focus {
  color: #78614C;
}

.row-frmEdit {
  border-bottom: 1px solid #78614C;
  font-family: Brother-1816-Regular, sans-serif;
}

.row-frmEdit label {
  color: #6C6C73;
}

.row-frmEdit input {
  border: none!important;
  color: #292929!important;
}

.row-frmEdit .view-password {
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

.slide-right-col {
  background: #FDFCFA;
}

.right-slide {
  position: absolute;
  right: 7vw;
  top: 50vh;
}

/* MEDIA QUERIES  */
@media only screen and (max-width: 1023px) {
  html {
    overflow-y: scroll;
  }

  /* Menu */
  .menu100-lista,
  .menu100-lista-catalogo {
    font-size: 3rem;
    padding-left: 5vh;
  }

  .menu100-lista {
    padding-top: 15vh;
  }

  .menu100-lista-catalogo {
    padding-top: 4vh;
  }

  .menu100-footer {
    padding-left: 5vh;
  }

  .menu100-li {
    line-height: 2em;
  }

  .menu100-right .closemenu100 {
    margin-top: auto;
    right: auto;
  }

  /* Products Page (Catalogo)*/
  .active-section {
    height: auto;
    top: 0;
    bottom: auto;
  }

  /* Cart */
  .cart-container {
    width: 100vw !important;
  }
}

@media only screen and (max-height: 600px) {

  /* Menu */
  .menu100-right-1,
  .menu100-right-2 {
    /* padding-left: 1em; */
  }

  .menu100-footer {
    padding-left: 3.5em;
  }

  .menu100-p {
    margin-bottom: 0px;
  }

  /* Home Page */
  .description-text {
    right: 20vh;
  }

  .product-wrapper .title {
    top: 21vh;
  }

  .product-wrapper .subtitle {
    top: 8vh;
  }

  .product-wrapper .text-paragraph {
    line-height: 3vh;
  }

  /* About Page */
  .about-text-2 {
    right: 40vh;
  }

  /*Products Page (Catálogo)*/
  .active-section {
    margin-top: 0;
    padding: 1rem !important;
  }

  .product-div-description .text-paragraph {
    line-height: 3vh;
  }

  .product-form-text {
    right: 20vh;
  }

  /* Contact Page */
  .description-text-contact {
    right: 20vh;
    top: 0vh;
  }

  .form-text {
    right: 20vh;
    top: 0vh;
  }

  label {
    font-size: 2vh;
  }

  #checkbox {
    display: none;
  }

  /* Footer */
  #footer {
    width: 30vw;
  }

  .footer-rights {
    top: 30vh;
  }
}

@media only screen and (max-width: 600px) {
  .float-top {
    margin-top: 15vh;
  }

  .line-height-0.line-height-mobile {
    line-height: 26px;
  }

  .detail-img {
    height: 70vh;
  }

  .detail-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .obj-fit {
    object-fit: cover;
  }

  .shop .quantity .qty {
    padding: 0;
    width: 100px;
  }

  .shop .quantity.quantity-lg .plus {
    width: 50px;
    text-align: left;
  }

  .modal-dialog {
    top: 0;
  }

  .modal-content {
    height: 100vh;
    padding-top: 1rem;
  }

  .modal-body {
    padding-top: 35vh;
  }

  .nossos-prod .active {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.line-height-0 {
  line-height: 1.5em;
}

.cart-less, .cart-more, .cart-input {
  background: transparent;
  color: white;
  outline: none;
  border: none;
}

.cart-container .product-thumb-info {
  background-color: transparent;
  max-height: 15vh;
  min-height: 15vh;
}

.col-cart {
  position: relative;
  min-height: 130px;
}

.quantity-cart {
  position: absolute;
  bottom: 0;
  left: 0;
}

@media only screen and (min-width: 1024px) and (max-width: 1350px) {
  .cart-container {
    width: 28vw !important;
  }
  .right-slide {
    right: 9vw;
  }
}
