@font-face {
    font-family: "Brother-1816-Bold";
    src: local('brother-1816-bold.woff2'), url('./fonts/brother-1816-bold.woff2');
}

@font-face {
    font-family: "Brother-1816-Medium";
    src: local('brother-1816-medium.woff2'), url('./fonts/brother-1816-medium.woff2');
}

@font-face {
    font-family: "Brother-1816-Regular";
    src: local('brother-1816-regular.woff2'), url('./fonts/brother-1816-regular.woff2');
}

@font-face {
    font-family: "Playfairdisplay-Italic";
    src: local('playfairdisplay-italic.woff2'), url('./fonts/playfairdisplay-italic.woff2');
}
