.vertical-col-1{
  height: 8.3vh;
}
.vertical-col-2{
  height: 16.6vh;
}
.vertical-col-3{
  height: 24.9vh;
}
.vertical-col-4{
  height: 33.2vh;
}
.vertical-col-5{
  height: 41.5vh;
}
.vertical-col-6{
  height: 49.8vh;
}
