{% if is_mobile %}

<div class="container-fluid">
  <div class="row">
    <div class="col-12 px-0 pt-5 mt-5">
      <div class="page-img-bg-mobile" style="background:url('{{url_base}}/assets/img/sobre-1.png') no-repeat center; background-size: cover;">
        <div class="page-img-mobile d-flex justify-content-center align-items-center">
          <h1 class="text-white text-13">Sobre</h1>
          <div class="page-img-overlay-mobile">
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 my-4 py-2 px-4">
      <h1 class="title">A Iora</h1>
      <h3 class="subtitle text-uppercase mb-0">O nosso património é o nosso mundo.</h3>
      <p class="text-paragraph text-3 line-height-5">
        Criada em 1973, a Iora Lingerie acompanha a Mulher moderna proporcionando-lhe momentos de sofisticação e classe na sua intimidade.

        As nossas coleções primam pelo requinte e qualidade, fruto de um rigoroso processo de seleção de matérias-primas e recorrendo apenas a materiais nobres.
      </p>
    </div>
    <div class="col-12 px-0">
      <img class="img-fluid" src="{{url_base}}/assets/img/sobre-2.png" alt="Sobre"/>
    </div>
    <div class="col-12 my-4 py-2 px-4">
      <p class="text-paragraph text-3 line-height-5">
        Atualmente, a Iora Lingerie mantém um vasto leque de clientes distribuídos por todo o país e uma ampla projeção internacional com clientes na Europa, América e África.

        Faça parte da nossa rede de clientes e ofereça as melhores coleções de lingerie.
      </p>
    </div>
  </div>
</div>


{% else %}

<div class="horizontal-scroll-wrapper">
  <div class="page-img-bg" style="background:url('{{url_base}}/assets/img/sobre-1.png') no-repeat center; background-size: cover;">
    <div class="page-img d-flex justify-content-center align-items-center">
      <h1 class="text-white">Sobre</h1>
      <div class="page-img-overlay">
      </div>
    </div>
  </div>
  <div class="description-text scroll pt-2">
    <h1 class="title pb-5 ml-2">A Iora</h1>
    <h3 class="subtitle text-uppercase mb-0">O nosso património é o nosso mundo.</h3>
    <p class="text-paragraph line-height-5">
      Criada em 1973, a Iora Lingerie acompanha a Mulher moderna proporcionando-lhe momentos de sofisticação e classe na sua intimidade.

      As nossas coleções primam pelo requinte e qualidade, fruto de um rigoroso processo de seleção de matérias-primas e recorrendo apenas a materiais nobres.
    </p>
  </div>
  <div class="about-img-1">
    <img class="img-fluid" src="{{url_base}}/assets/img/sobre-2.png" alt="Sobre"/>
  </div>
  <div class="about-text-2 scroll">
    <p class="text-paragraph line-height-5">
      Atualmente, a Iora Lingerie mantém um vasto leque de clientes distribuídos por todo o país e uma ampla projeção internacional com clientes na Europa, América e África.

      Faça parte da nossa rede de clientes e ofereça as melhores coleções de lingerie.
    </p>
  </div>
  <div class="space"></div>
  <div class="footer-delimiter"></div>
</div>

{% endif %}
