{% include 'Includes/deslize.html' %}
<div class="container-fluid">
  <div class="container">
    <div class="row mx-lg-5">
      <div class="col-12 text-center float-top mb-5">
        <h1 class="product-name title positive-ls-1 text-10 text-lg-12 mt-lg-5 mb-4 mb-lg-3">O meu perfil</h1>
        <p class="features text-uppercase text-4 text-lg-3 mb-0 my-3 pt-lg-5">Histórico de encomendas</p>
      </div>

      {% for i in range(0, 3) %}
      <div class="col-4 col-lg-1 mb-5 px-0">
        <span class="product-thumb-info border-0">
            <span class="">
              <img src="{{url_base}}/assets/img/icons/encomenda.svg" class="" alt="Encomenda"/>
            </span>
        </span>
      </div>

      <div class="col-8 col-lg-2 px-lg-0 pl-xl-0">
        <p class="data-receive features text-uppercase text-2 mb-0">12/11/2020</p>
        <p class="order-status text-paragraph text-uppercase text-2 text-lg-1 text-xl-2 mb-0">Entregue ao cliente</p>
        <p class="product-price text-paragraph text-uppercase text-2 mb-0 d-inline">20,15€</p>
        <a href="javascript:void(0);"><img src="{{url_base}}/assets/img/icons/ver-mais.svg" class="float-right pt-2 pr-5 pr-lg-2" alt="Ver Mais"/></a>
      </div>
      {% endfor %}

      <div class="col-12 text-center py-2">
        <button href="javascript:void(0);" class="btn plus-button text-center w-auto">Carregar mais</button>
      </div>

      <div class="col-12 pt-5 pb-5 text-center">
        <p class="features text-uppercase text-center text-4 text-lg-3 my-3 pt-5 d-inline">Os meus dados</p>
        <a href="javascript:void(0);"><img src="{{url_base}}/assets/img/icons/editar.svg" class="pl-2" alt="Ver Mais"/></a>
      </div>
        <div class="col-12 pb-lg-5 px-4 px-lg-3">
          <form action="/" id="frmEdit" method="post">

            <div class="form-row">
              <div class="col-12 col-lg-6 mb-2">
                <div class="row row-frmEdit mr-lg-3">
                  <div class="form-group col-3 px-0 mt-2 mb-0">
                    <label class="text-uppercase text-3 mb-0 pt-2">Nome</label>
                  </div>
                  <div class="form-group col-9 pr-lg-4 mt-2 mb-0">
                    <input type="text" value="Maria Joaquina" placeholder="" class="form-control user-name pb-0 text-uppercase text-3"/>
                  </div>
                </div>
              </div>

              <div class="col-12 col-lg-6 mb-2">
                <div class="row row-frmEdit ml-lg-3">
                  <div class="form-group col-3 px-0 mt-2 mb-0">
                    <label class="text-uppercase text-3 mb-0 pt-2">Apelido</label>
                  </div>
                  <div class="form-group col-9 pr-lg-4 mt-2 mb-0">
                    <input type="text" value="Ferreira Carvalho" placeholder="" class="form-control user-last-name pb-0 text-uppercase text-3"/>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="col-12 col-lg-6 mb-2">
                <div class="row row-frmEdit mr-lg-3">
                  <div class="form-group col-3 px-0 mt-2 mb-0">
                    <label class="text-uppercase text-3 mb-0 pt-2">E-mail</label>
                  </div>
                  <div class="form-group col-9 pr-lg-4 mt-2 mb-0">
                    <input type="email" value="maria.carvalho@gmail.com" placeholder="" class="form-control user-email pb-0 text-uppercase text-3"/>
                  </div>
                </div>
              </div>

              <div class="col-12 col-lg-6 mb-2">
                <div class="row row-frmEdit ml-lg-3">
                  <div class="form-group col-3 px-0 mt-2 mb-0">
                    <label class="text-uppercase text-3 mb-0 pt-2">Password</label>
                  </div>
                  <div class="form-group col-9 pr-lg-4 mt-2 mb-0">
                    <input type="password" value="111111111111111111" placeholder="" class="form-control user-password pb-0 text-uppercase text-3 d-inline"/>
                    <a href="javascript:void(0);"><img src="{{url_base}}/assets/img/icons/ver-mais.svg" class="float-right view-password" alt="Ver Password"/></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="col-12 col-lg-6 mb-2">
                <div class="row row-frmEdit mr-lg-3">
                  <div class="form-group col-3 px-0 mt-2 mb-0">
                    <label class="text-uppercase text-3 mb-0 pt-2">Nº Telefone</label>
                  </div>
                  <div class="form-group col-9 pr-lg-4 mt-2 mb-0">
                    <input type="tel" value="+351 936 568 345" placeholder="" class="form-control user-phone pb-0 text-uppercase text-3"/>
                  </div>
                </div>
              </div>

              <div class="col-12 col-lg-6 mb-2">
                <div class="row row-frmEdit ml-lg-3">
                  <div class="form-group col-3 px-0 mt-2 mb-0">
                    <label class="text-uppercase text-3 mb-0 pt-2">NIF</label>
                  </div>
                  <div class="form-group col-9 pr-lg-4 mt-2 mb-0">
                    <input type="text" value="267 890 222" placeholder="" class="form-control user-nif pb-0 text-uppercase text-3"/>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="col-12 mb-2">
                <div class="row row-frmEdit">
                  <div class="form-group col-2 col-lg-1 px-0 mt-2 mb-0">
                    <label class="text-uppercase text-3 mb-0 pt-2">Morada</label>
                  </div>
                  <div class="form-group col-10 col-lg-11 pr-lg-4 pl-5 mt-2 mb-0">
                    <input type="text" value="Rua Lamego da Silva Basto Carvalho nº234 1ºEsq" placeholder="" class="form-control user-address pb-0 text-uppercase text-3"/>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="col-12 col-lg-6 mb-2">
                <div class="row row-frmEdit mr-lg-3">
                  <div class="form-group col-3 px-0 mt-2 mb-0">
                    <label class="text-uppercase text-3 mb-0 pt-2">Código Postal</label>
                  </div>
                  <div class="form-group col-9 pr-lg-4 mt-2 mb-0">
                    <input type="text" value="5678-679" placeholder="" class="form-control user-cod pb-0 text-uppercase text-3"/>
                  </div>
                </div>
              </div>

              <div class="col-12 col-lg-6 mb-2">
                <div class="row row-frmEdit ml-lg-3">
                  <div class="form-group col-3 px-0 mt-2 mb-0">
                    <label class="text-uppercase text-3 mb-0 pt-2">Localidade</label>
                  </div>
                  <div class="form-group col-9 pr-lg-4 mt-2 mb-0">
                    <input type="text" value="Flores do Campo" placeholder="" class="form-control user-location pb-0 text-uppercase text-3"/>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="col-12 col-lg-6 mb-2">
                <div class="row row-frmEdit mr-lg-3">
                  <div class="form-group col-3 px-0 mt-2 mb-0">
                    <label class="text-uppercase text-3 mb-0 pt-2">Distrito</label>
                  </div>
                  <div class="form-group col-9 pr-lg-4 mt-2 mb-0">
                    <input type="text" value="Braga" placeholder="" class="form-control user-district pb-0 text-uppercase text-3"/>
                  </div>
                </div>
              </div>

              <div class="col-12 col-lg-6 mb-2">
                <div class="row row-frmEdit ml-lg-3">
                  <div class="form-group col-3 px-0 mt-2 mb-0">
                    <label class="text-uppercase text-3 mb-0 pt-2">País</label>
                  </div>
                  <div class="form-group col-9 pr-lg-4 mt-2 mb-0">
                    <input type="text" value="Portugal" placeholder="" class="form-control user-country pb-0 text-uppercase text-3"/>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row pb-5">
              <div class="form-group col-12 px-0 mt-5 text-center">
                  <button href="javascript:void(0);" class="btn save-button text-center w-auto">Guardar alterações</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
