<div class="container-fluid pg-404">
  <section class="http-error">
    <div class="row justify-content-center">
      <div class="text-center py-5 my-5">
        <div class="http-error-main">
          <h2 class="py-3 my-3 pt-md-5 mt-md-5 text-paragraph pg-404-color">404!</h2>
          <p class="mb-5 pb-5 text-paragraph pg-404-color">Página não encontrada.</p>
          <a href="{{url_base}}"><p class="text-paragraph text-6 pg-404-color"><u>Voltar à pagina inicial</u></p></a>
        </div>
      </div>
    </div>
  </section>
</div>
