</div>


{% if is_mobile %}
{% if module_data.hide_slide == 1 %}

<!-- Footer mobile (loja) -->
<div id="footer-store-mobile">
  <div class="container-fluid text-center px-5">
    <div class="row">
      <div class="col-12 mt-4">
        <a href="{{url_base}}">
          <img class="img-fluid" alt="Iora Lingerie" src="{{url_base}}/assets/img/logos/iora-branco.svg" width="120" height="60">
        </a>
      </div>
      <div class="col-12">
        <p class="text-white text-uppercase mtop"><a class="text-white" href="{{url_base}}/Metodos_Pagamento">Métodos de Pagamento</a></p>
      </div>
      <div class="col-12">
        <p class="text-white text-uppercase"><a class="text-white" href="{{url_base}}/Politica_Compra">Política de Envio e Devoluções</a></p>
      </div>
      <div class="col-12">
        <p class="text-white text-uppercase"><a class="text-white" href="https://www.livroreclamacoes.pt/inicio" target="_blank">Livro de Reclamações</a></p>
      </div>
      <div class="col-12">
        <p class="text-white text-uppercase"><a class="text-white" href="{{url_base}}/politica">Política de Privacidade e Cookies</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="text-white mtop">Acompanhe-nos em
          <a href="https://www.facebook.com/iorawear/" target="_blank">
            <img class="img-fluid ml-3 mr-1" alt="Facebook" src="{{url_base}}/assets/img/logos/facebook.svg" width="30" height="30">
          </a>
          <a href="https://www.instagram.com/ioralingerie/" target="_blank">
            <img class="img-fluid ml-1" alt="Instagram" src="{{url_base}}/assets/img/logos/instagram.svg" width="30" height="30">
          </a>
        </p>
      </div>
      <div class="col-12 mb-4 social">
        <p class="text-white text-2 d-inline">Designed by</p><a href="https://unify.pt/" target="_blank"><img class="img-fluid ml-2 mb-1" alt="UNIFY" src="{{url_base}}/assets/img/logos/unify.svg"></a>
      </div>
    </div>
  </div>
</div>

{% else %}

<!-- Footer mobile (Site) -->
<div id="footer-mobile">
  <div class="container-fluid text-center text-white">
    <div class="row text-center">
      <div class="col-12 mt-4">
        <a href="{{url_base}}">
          <img class="img-fluid" alt="Iora Lingerie" width="100" height="60" src="{{url_base}}/assets/img/logos/iora-branco.svg">
        </a>
      </div>
    </div>
    <div class="col-12 footer-social-mobile text-center">
      <p class="text-white text-uppercase mtop">Acompanhe-nos
        <a href="https://www.facebook.com/iorawear/" target="_blank">
          <img class="img-fluid ml-3 mr-1" alt="Facebook" src="{{url_base}}/assets/img/logos/facebook.svg" width="30" height="30"/>
        </a>
        <a href="https://www.instagram.com/ioralingerie/" target="_blank">
          <img class="img-fluid ml-1" alt="Instagram" src="{{url_base}}/assets/img/logos/instagram.svg" width="30" height="30"/>
        </a>
      </p>
    </div>
    <div class="col-12 text-center">
      <p class="text-white text-uppercase"><a class="text-white" href="{{url_base}}/politica">Política de privacidade e cookies</a></p>
    </div>
    <div class="col-12 footer-rights-mobile py-4">
      <p class="text-white text-2 d-inline">Designed by</p><a href="https://unify.pt/" target="_blank"><img class="img-fluid ml-3 mb-1" alt="UNIFY" src="{{url_base}}/assets/img/logos/unify.svg"/></a>
    </div>
  </div>
</div>

{% endif %}
{% endif %}

{% if is_mobile is empty %}
{% if module_data.hide_slide == 1 %}

<!-- Footer desktop (loja) -->
<div id="footer-desktop">
  <div class="container-fluid px-5">
    <div class="row text-center">
      <div class="col-2">
        <p class="text-white text-uppercase mt-5"><a class="text-white" href="{{url_base}}/Metodos_Pagamento">Métodos de Pagamento</a></p>
      </div>
      <div class="col-2">
        <p class="text-white text-uppercase mt-5"><a class="text-white" href="{{url_base}}/Politica_Compra">Política de Envio e Devoluções</a></p>
      </div>
      <div class="col-4 mt-4 px-0">
        <a href="{{url_base}}">
          <img class="img-fluid" alt="Iora Lingerie" src="{{url_base}}/assets/img/logos/iora-branco.svg" width="120" height="60">
        </a>
      </div>
      <div class="col-2">
        <p class="text-white text-uppercase mt-5"><a class="text-white" href="https://www.livroreclamacoes.pt/inicio" target="_blank">Livro de Reclamações</a></p>
      </div>
      <div class="col-2">
        <p class="text-white text-uppercase mt-5"><a class="text-white" href="{{url_base}}/politica">Política de Privacidade e Cookies</a></p>
      </div>
    </div>
    <div class="row px-xl-4">
      <div class="col-6 pl-xl-5">
        <p class="text-white mt-5">Acompanhe-nos em
          <a href="https://www.facebook.com/iorawear/" target="_blank">
            <img class="img-fluid ml-3 mr-1" alt="Facebook" src="{{url_base}}/assets/img/logos/facebook.svg" width="30" height="30">
          </a>
          <a href="https://www.instagram.com/ioralingerie/" target="_blank">
            <img class="img-fluid ml-1" alt="Instagram" src="{{url_base}}/assets/img/logos/instagram.svg" width="30" height="30">
          </a>
        </p>
      </div>
      <div class="col-6 mt-5 social">
        <div class="float-right">
          <p class="text-white text-2 d-inline">Designed by</p><a href="https://unify.pt/" target="_blank"><img class="img-fluid ml-2 mb-1" alt="UNIFY" src="{{url_base}}/assets/img/logos/unify.svg"></a>
        </div>
      </div>
    </div>
  </div>
</div>

{% else %}

<!-- Footer desktop (scroll lateral) -->
<div class="page-hr">
  <div class="row">
    <div class="col-3 pr-0">
      <p class="pt-2 text-center text-uppercase text-paragraph">Deslize para explorar</p>
    </div>
    <div class="col-9 pl-0">
      <hr/>
    </div>
  </div>
</div>
<div id="footer" style="display:none;">
  <div class="container-fluid px-3 ml-2 text-white">
    <div class="row text-center">
      <div class="col-12 mtop text-left ml-4">
        <a href="{{url_base}}">
          <img class="img-fluid" alt="Iora Lingerie" src="{{url_base}}/assets/img/logos/iora-branco.svg"/>
        </a>
      </div>
    </div>
    <div class="col-12 footer-social">
      <p class="text-white text-uppercase mtop">Acompanhe-nos
        <a href="https://www.facebook.com/iorawear/" target="_blank"><img class="img-fluid ml-xl-3 mr-1" alt="Facebook" src="{{url_base}}/assets/img/logos/facebook.svg"/></a>
        <a href="https://www.instagram.com/ioralingerie/" target="_blank"><img class="img-fluid ml-1" alt="Instagram" src="{{url_base}}/assets/img/logos/instagram.svg"/></a>
      </p>
    </div>
    <div class="col-12">
      <p class="text-white text-uppercase"><a class="text-white" href="{{url_base}}/politica">Política de privacidade e cookies</a></p>
    </div>
    <div class="col-12 footer-rights">
      <p class="text-white text-2 d-inline">Designed by</p><a href="https://unify.pt/" target="_blank"><img class="img-fluid ml-3 mb-1" alt="UNIFY" src="{{url_base}}/assets/img/logos/unify.svg"/></a>
    </div>
  </div>
</div>

{% endif %}
{% endif %}

<!-- Vendor -->
<script src="{{url_base}}/assets/vendor/jquery/jquery.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.appear/jquery.appear.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.cookie/jquery.cookie.min.js"></script>
<script src="{{url_base}}/assets/vendor/popper/umd/popper.min.js"></script>
<script src="{{url_base}}/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="{{url_base}}/assets/vendor/common/common.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.validation/jquery.validate.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.gmap/jquery.gmap.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
<script src="{{url_base}}/assets/vendor/isotope/jquery.isotope.min.js"></script>
<script src="{{url_base}}/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="{{url_base}}/assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="{{url_base}}/assets/vendor/vide/jquery.vide.min.js"></script>
<script src="{{url_base}}/assets/vendor/vivus/vivus.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery/jquery-ui.min.js"></script>

<!-- Theme Base, Components and Settings -->
<script src="{{url_base}}/assets/js/theme.js"></script>

<!-- Current Page Vendor and Views -->
<script src="{{url_base}}/assets/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="{{url_base}}/assets/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

<!-- Theme Custom -->
<script src="{{url_base}}/js/custom.js"></script>
<script src="{{url_base}}/js/Loja.js"></script>

<!-- Theme Initialization Files -->
<script src="{{url_base}}/assets/js/theme.init.js"></script>



</body>
</html>
