<!DOCTYPE html>
<!-- <html class="side-header-hamburguer-sidebar side-header-hamburguer-sidebar-right side-header-hamburguer-sidebar-push side-header-hide side-header-right-no-reverse"> -->
{% set pages_for_menu = ['Catalogo', 'Contactos', 'Sobre', 'Site'] %}
{% if module in pages_for_menu %}
  <html class="side-header-hamburguer-sidebar side-header-hamburguer-sidebar-right side-header-hamburguer-sidebar-push side-header-hide side-header-right-no-reverse">
{% else %}
  <html class="sticky-header-reveal">
{% endif %}
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>Iora Lingerie</title>

		<meta name="keywords" content="HTML5 Template" />
		<meta name="description" content="Iora Lingerie">
		<meta name="author" content="UNIFY">

		<!-- Favicon -->
		<link rel="shortcut icon" href="{{url_base}}/assets/img/favicon/favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="{{url_base}}/assets/img/favicon/apple-touch-icon.png">

		<link rel="apple-touch-icon" sizes="180x180" href="{{url_base}}/assets/img/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{{url_base}}/assets/img/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{url_base}}/assets/img/favicon/favicon-16x16.png">
		<link rel="manifest" href="{{url_base}}/assets/img/favicon/site.webmanifest">
		<link rel="mask-icon" href="{{url_base}}/assets/img/favicon/safari-pinned-tab.svg" color="#a78c72">
		<meta name="msapplication-TileColor" content="#a78c72">
		<meta name="theme-color" content="#a78c72">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Web Fonts  -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light%7CPlayfair+Display:400" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{{url_base}}/assets/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{url_base}}/assets/vendor/fontawesome-free/css/all.min.css">
		<link rel="stylesheet" href="{{url_base}}/assets/vendor/animate/animate.min.css">
		<link rel="stylesheet" href="{{url_base}}/assets/vendor/simple-line-icons/css/simple-line-icons.min.css">
		<link rel="stylesheet" href="{{url_base}}/assets/vendor/owl.carousel/assets/owl.carousel.min.css">
		<link rel="stylesheet" href="{{url_base}}/assets/vendor/owl.carousel/assets/owl.theme.default.min.css">
		<link rel="stylesheet" href="{{url_base}}/assets/vendor/magnific-popup/magnific-popup.min.css">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="{{url_base}}/assets/css/theme.css">
		<link rel="stylesheet" href="{{url_base}}/assets/css/theme-elements.css">
		<link rel="stylesheet" href="{{url_base}}/assets/css/theme-blog.css">
		<link rel="stylesheet" href="{{url_base}}/assets/css/theme-shop.css">
		<link rel="stylesheet" href="{{url_base}}/assets/css/fonts.css">


		<!-- Current Page CSS -->
		<link rel="stylesheet" href="{{url_base}}/assets/vendor/rs-plugin/css/settings.css">
		<link rel="stylesheet" href="{{url_base}}/assets/vendor/rs-plugin/css/layers.css">
		<link rel="stylesheet" href="{{url_base}}/assets/vendor/rs-plugin/css/navigation.css">

		<!-- Skin CSS -->
		<link rel="stylesheet" href="{{url_base}}/assets/css/skins/skin-corporate-13.css">
		<link rel="stylesheet" href="{{url_base}}/assets/css/skins/default.css">
		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{{url_base}}/assets/css/custom.css">
		<link rel="stylesheet" href="{{url_base}}/assets/css/unify-vertical-grid.css">

		<!-- Head Libs -->


<script src="{{url_base}}/assets/vendor/modernizr/modernizr.min.js"></script>
	</head>
	<body>

		{% if cookies == 0 %}
		<div class="notice-bottom-bar">
			<div class="container text-center">
				<div class="row py-3">
					<div class="col-12 col-md-8 mt-lg-1">
						<p class="text-white m-0">A Iora Lingerie utiliza cookies para melhorar a sua experiência de navegação.</p>
					</div>
					<div class="col-12 col-md-4 mt-2 mt-lg-0">
						<a href="{{url_base}}/politica" target="_blank" class="btn btn-default btn-rounded d-inline-block font-weight-semibold text-1 mr-4">Saber mais</a>
						<a href="javaScript:void(0);" class="btn btn-default btn-rounded d-inline-block font-weight-semibold text-1 cookie-ok">Aceito</a>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
