<!-- <div class="side-header-narrow-bar">
  <div class="side-header-narrow-bar-bottom d-flex justify-content-center">
    <div class="mb-4">
      <div class="header-logo-mobile">
          <a href="{{url_base}}">
              <img alt="logo" width="" src="{{url_base}}/assets/img/logos/header-logo-mobile.png" class="">
          </a>
      </div>
      <div class="header-search-mobile hamburguer-btn">
          <a href="javaScript:void(0);">
              <img alt="busca" src="{{url_base}}/assets/img/icons/search-icon.png" class="search-image-mobile">
          </a>
      </div>
      <button class="hamburguer-btn hamburguer-btn-sticky-dark">
        <span class="hamburguer">
          <span></span>
          <span></span>
          <span></span>
          <!-- <img alt="logo" width="20" src="{{url_base}}/assets/img/icons/menu-mobile.png" class="d-block d-sm-none"> -->
        </span>
        <span class="close">
          <img alt="logo" width="20" src="{{url_base}}/assets/img/icons/menu-mobile.png">
        </span>
      </button>
    </div>
  </div>
</div>
<header id="header" class="side-header side-header-lg side-header-hide d-flex" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyChangeLogo': true, 'stickyStartAt': 480, 'stickyHeaderContainerHeight': 70}">
  <div class="header-body">
    <div class="header-container container d-flex h-100 mt-3">
      <div class="header-column flex-column justify-content-center h-100">
        <div class="header-row header-row-side-header flex-row h-100 overflow-hidden pb-5">
          <div class="header-nav header-nav-links header-nav-links-side-header header-nav-links-vertical header-nav-links-vertical-slide align-self-center">
            <div class="header-nav-main header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-effect-4 header-nav-main-sub-effect-1">
              <nav class="collapse">
                <ul class="nav nav-pills text-uppercase" id="mainNav">

                  {% for menu_item in menu %}

                  {% if menu_item.mega is not empty %}

                  <li class="dropdown order-2 order-{{menu_item.id}}"> <a class="dropdown-item dropdown-toggle" href="{{url_base}}/produtos">{{menu_item.title}}</a>
                    <ul class="dropdown-menu">

                      {% set count = 1 %}
                      {% for key,value in menu_item.mega %}

                        <li class="dropdown-submenu"> <a class="dropdown-item eurotecnologia-categoria" href="javaScript:void(0);">{{key}}</a>
                          <ul class="dropdown-menu">

                            {% set count = 1 %}
                            {% for key,value in value %}

                              <li class="dropdown-submenu"> <a class="dropdown-item eurotecnologia-marca" href="javaScript:void(0);">{{key}}</a>
                                  <ul class="dropdown-menu">

                                      {% set marca = key %}
                                      {% for key,value in value %}

                                        <li><a class="dropdown-item" marca="{{marca}}" href="{{url_base}}/produtos#{{ value|slugify }}">{{value}}</a></li>

                                      {% endfor %}
                                    </ul>
                                </li>

                              {% set count = count + 1 %}
                              {% endfor %}

                            </ul>
                          </li>

                          {% endfor %}

                          <li class="dropdown-submenu"> <a class="dropdown-item eurotecnologia-categoria text-uppercase" href="javaScript:void(0);">{{exp_10.lg|raw}} <i class="fas fa-chevron-down"></i></a>
                            <ul class="dropdown-menu">
                              <li class="dropdown-submenu"><a class="dropdown-item eurotecnologia-marca" href="https://www.sesa-systems.pt/" target="_blank">{{exp_76.lg|raw}} <i class="fas fa-chevron-down"></i><i class="fas fa-chevron-down"></i></a></li>
                            </ul>
                          </li>

                        </ul>
                      </li>

                  {% else %}

                  <li class="order-1">
                      <a class="dropdown-item" href="{{url_base}}/{{menu_item.slug}}">{{menu_item.title}}</a>
                  </li>

                  {% endif %}

                  {% endfor %}

                  <li class="search-line" style="display:none;">
                    <form role="search" action="" method="get">
                        <div class="simple-search input-group">
                          <input class="form-control text-1" id="headerSearch" name="q" type="search" value="" placeholder="">
                          <span class="input-group-append">
                            <button class="btn" type="submit">
                              <img class="search-image" src="{{url_base}}/assets/img/icons/search-icon.png" alt="">
                            </button>
                          </span>
                        </div>
                    </form>
                  </li>

                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>


<div role="main" class="main" id="home">

    {% if (module == 'Site' or module == 'Inicio') and action == 'index' %} {% include 'Includes/banner.html' %} {% endif %} -->
