{% set pages_for_menu = ['Catalogo', 'Contactos', 'Sobre', 'Site'] %}
{% if module in pages_for_menu %}
  {% include 'Includes/menu_default.html' %}
{% else %}
  {% include 'Includes/menu_store.html' %}
{% endif %}

<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a href="{{url_base}}">
          <img alt="Iora Lingerie" src="{{url_base}}/assets/img/logos/iora-branco.svg" class="img-fluid"/>
        </a>
      </div>
      <div class="modal-body text-center mt-4">
        <p class="text-4">Permite que a IORA LINGERIE aceda à sua localização?</p>
        <button type="Submit" name="allow" class="modal-button mt-3">Permitir</button>
      </div>
    </div>
  </div>
</div>
