<div class="body-overlay hamburguer-close"></div>
<div id="mainmenu" class="sticky-wrapper sticky-wrapper-transparent sticky-wrapper-effect-1 sticky-wrapper-border-bottom" data-plugin-sticky data-plugin-options="{'minWidth': 0, 'stickyStartEffectAt': 30, 'padding': {'top': 0}}">
  <div class="sticky-body">
    <div class="container-fluid">
      <div class="row align-items-center pr-xl-5 mt-3 mt-lg-4 mt-xl-3 px-3 px-lg-0 pb-2">

        <div class="col-6 col-lg-2">
          <a href="{{url_base}}">
              <img alt="Iora Lingerie" src="{{url_base}}/assets/img/logos/iora.svg" class="d-none d-lg-block"/>
              <img alt="Iora Lingerie" src="{{url_base}}/assets/img/logos/iora-mobile.svg" class="img-fluid d-block d-lg-none" width="70" />
            </a>
        </div>

        <div class="col-3 col-lg-9 text-right">
          {% if lg == 'pt' %}
          <a class="text-decoration-none d-none d-lg-block pt-lg-1 lang" lang="en" href="javascript:void(0);">
            <h5 class="text-paragraph text-uppercase menu-item-position">EN</h5>
          </a>
          {% else %}
          <a class="text-decoration-none d-none d-lg-block pt-lg-1 lang" lang="pt" href="javascript:void(0);">
            <h5 class="text-paragraph text-uppercase menu-item-position">PT</h5>
          </a>
          {% endif %}
        </div>

        <div class="col-3 col-lg-1 text-center">
            <button class="openmenu100 menu-item-position">
              <span class="hamburguer">
                <span></span>
                <span></span>
              </span>
            </button>
        </div>

        <div class="col-lg-2">
          <!-- <a class="text-decoration-none" href="javascript:void(0);">
            <h5 class="menu-direito text-paragraph text-uppercase menu-item-position">Loja</h5>
          </a> -->
        </div>

      </div>
    </div>
  </div>
</div>
<header id="header" class="side-header side-header-lg side-header-hide d-flex">
  <div class="header-body">
    <div class="header-container container d-flex h-100">
      <div class="header-column flex-column justify-content-center h-100">
        <div class="header-row">
          <button class="hamburguer-btn hamburguer-btn-side-header hamburguer-btn-side-header-mobile-show active d-lg-none" data-set-active="false">
            <span class="close">
              <span></span>
              <span></span>
            </span>
          </button>
        </div>
        <div class="header-row flex-row justify-content-center py-5">
        </div>
      </div>
    </div>
  </div>
</header>
<div class="menu100" style="display:none;">
  <div>
    <div class="row align-items-center position-fixed">
      <div class="col-6 menu100-overlay p-0 d-none d-lg-block">
        <div class="row">
          <div class="col-4 pr-0">
            <img alt="Iora Lingerie" src="{{url_base}}/assets/img/logos/iora.svg"/>
          </div>
          <div class="col-8"></div>
        </div>
      </div>

      <div class="col-12 col-lg-6 menu100-right">
        <div class="row">
        <div class="col-6">
          <a href="{{url_base}}">
            <img alt="Iora Lingerie" src="{{url_base}}/assets/img/logos/iora.svg" class="d-lg-none"/>
          </a>
        </div>

        <div class="col-3 pt-2 my-auto my-lg-0">
          {% if lg == 'pt' %}
          <a class="text-decoration-none d-lg-none lang" lang="en" href="javascript:void(0);">
            <h5 class="text-paragraph text-uppercase text-white menu-item-position text-right">EN</h5>
          </a>
          {% else %}
          <a class="text-decoration-none d-lg-none lang" lang="pt" href="javascript:void(0);">
            <h5 class="text-paragraph text-uppercase text-white menu-item-position text-right">PT</h5>
          </a>
          {% endif %}
        </div>

        <div class="col-3 my-auto my-lg-0">
          <button class="closemenu100 menu-item-position">
            <span class="hamburguer">
              <span></span>
            </span>
          </button>
        </div>

        </div>

        <ul class="menu100-lista list-unstyled text-uppercase menu100-right-1">
          <li class="menu100-item">
            <a class="text-white text-decoration-none text-2 text-lg-3" href="{{url_base}}/sobre">Sobre</a>
          </li>
          <li class="menu100-item">
            <a class="text-white text-decoration-none menu100-2-open text-2 text-lg-3" href="javascript:void(0);">Catálogo</a>
          </li>
          <li class="menu100-item">
            <a class="text-white text-decoration-none text-2 text-lg-3" href="{{url_base}}/contactos">Contactos</a>
          </li>
        </ul>
        <ul class="menu100-lista-catalogo list-unstyled text-uppercase menu100-right-2" style="display:none;">
          <li class="menu100-item menu100-2-close">
            <a class="text-white text-decoration-none" href="javascript:void(0)">
              <img src="{{url_base}}/assets/img/icons/seta.svg" alt="Voltar"/>
            </a>
          </li>
          <li class="menu100-item">
            <a class="text-white text-decoration-none text-2 text-lg-3" href="{{url_base}}/catalogo">Camisas</a>
          </li>
          <li class="menu100-item">
            <a class="text-white text-decoration-none text-2 text-lg-3" href="{{url_base}}/catalogo">Robes</a>
          </li>
          <li class="menu100-item">
            <a class="text-white text-decoration-none text-2 text-lg-3" href="{{url_base}}/catalogo">Pijamas</a>
          </li>
        </ul>
        <div class="menu100-footer">
          <p class="menu100-p text-8 text-lg-12" style="color:#a78c72;">Coleção Outono /<br/> Inverno 2021</p>
          <br/>
          <p class="text-uppercase text-white text-paragraph text-1 text-lg-2">Iora Lingerie&trade; | Todos os direitos reservados</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div role="main" class="main">
