{% if is_mobile %}
<header id="header" class="header-effect-shrink"
  data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyChangeLogo': true, 'stickyStartAt': 120, 'stickyHeaderContainerHeight': 70}" style="height: 146px;">
  <div class="header-body border-top-0" style="position: fixed;">
    <div class="header-container container">

      <div class="header-row">

        <div class="header-column justify-content-start">
          <div class="header-row">
            <a href="javascript:void(0)" class="header-nav-features-toggle">
              <img src="{{url_base}}/assets/img/icons/perfil.svg" alt="Perfil" class="header-nav-top-icon-img" />
            </a>
          </div>
        </div>

        <div class="header-column justify-content-center">
          <div class="header-row">
            <div class="header-logo">
              <a href="{{url_base}}/loja">
                <img alt="Iora Lingerie" data-sticky-width="100" data-sticky-height="40" src="{{url_base}}/assets/img/logos/iora-mobile.svg" width="100" height="50">
              </a>
            </div>
          </div>
        </div>

        <div class="header-column justify-content-end">
          <div class="header-row">
            <div class="header-nav">
              <div class="header-nav header-nav-links">

                <div class="header-nav-features header-nav-features-no-border">
                  <div class="header-nav-feature header-nav-features-fav">
                    <a href="javascript:void(0)" class="header-nav-features-toggle">
                      <img src="{{url_base}}/assets/img/icons/favoritos.svg" alt="Favoritos" class="header-nav-top-icon-img" />
                    </a>
                  </div>
                </div>

                <div class="header-nav-features header-nav-features-no-border">
                  <div class="header-nav-feature header-nav-features-cart">
                    <a href="javascript:void(0)" class="header-nav-features-toggle">
                      <img src="{{url_base}}/assets/img/icons/carrinho.svg" alt="Carrinho" class="header-nav-top-icon-img open-float-cart" /> <span class="cart-info"> <span class="cart-qty">1</span> </span> </a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <!-- <div class="header-column justify-content-center">
          <div class="header-nav">
            <div class="header-nav header-nav-links">

              <div class="header-nav-features header-nav-features-no-border order-1">
                <div class="header-nav-feature header-nav-features-fav d-inline-flex">
                  <a href="javascript:void(0)" class="header-nav-features-toggle">
                    <img src="{{url_base}}/assets/img/icons/favoritos.svg" alt="Favoritos" class="header-nav-top-icon-img"/>
                  </a>
                </div>
              </div>

              <div class="header-nav-features header-nav-features-no-border order-1">
                <div class="header-nav-feature header-nav-features-cart d-inline-flex">
                  <a href="javascript:void(0)" class="header-nav-features-toggle">
                    <img src="{{url_base}}/assets/img/icons/carrinho.svg" alt="Carrinho" class="header-nav-top-icon-img"/> <span class="cart-info"> <span class="cart-qty">1</span> </span> </a>
                  <div class="header-nav-features-dropdown" id="headerTopCartDropdown">
                    <ol class="mini-products-list">
                      <li class="item"> <a href="#" title="Camera X1000" class="product-image"><img src="img/products/product-1.jpg" alt="Camera X1000"></a>
                        <div class="product-details">
                          <p class="product-name"> <a href="#">Camera X1000 </a> </p>
                          <p class="qty-price"> 1X <span class="price">$890</span> </p> <a href="#" title="Remove This Item" class="btn-remove"><i class="fas fa-times"></i></a>
                        </div>
                      </li>
                    </ol>
                    <div class="totals"> <span class="label">Total:</span> <span class="price-total"><span class="price">$890</span></span> </div>
                    <div class="actions"> <a class="btn btn-dark" href="#">View Cart</a> <a class="btn btn-primary" href="#">Checkout</a> </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div> -->

      </div>
    </div>
  </div>
</header>

{% else %}
<header id="header" class="header-floating-bar" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'reveal', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 116, 'stickySetTop': '0', 'stickyChangeLogo': false}">
  <div class="header-body header-body-bottom-border">
    <div class="header-container header-container-height-sm container-fluid px-5">
      <div class="header-row px-4 mx-4">
        <div class="header-column">
          <div class="header-row">
            <div class="header-logo">
              <a href="{{url_base}}/loja">
                <img alt="Iora Lingerie" width="100" height="100" data-sticky-width="82" data-sticky-height="40" src="{{url_base}}/assets/img/logos/iora-mobile.svg" />
              </a>
            </div>
          </div>
        </div>
        <div class="header-column justify-content-end">
          <div class="header-row">
            <div class="header-nav header-nav-links order-2 order-lg-1">
              <div class="header-nav-main header-nav-main-clone-items header-nav-main-slide header-nav-main-square header-nav-main-effect-2 header-nav-main-sub-effect-1">
              </div>
              <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main nav">
                <i class="fas fa-bars"></i>
              </button>
            </div>
            <!-- <div class="header-nav-feature header-nav-features-search d-inline-flex">
											<a href="#" class="header-nav-features-toggle" data-focus="headerSearch"><i class="fas fa-search header-nav-top-icon"></i></a>
											<div class="header-nav-features-dropdown header-nav-features-dropdown-mobile-fixed" id="headerTopSearchDropdown">
												<form role="search" action="page-search-results.html" method="get">
													<div class="simple-search input-group">
														<input class="form-control text-1" id="headerSearch" name="q" type="search" value="" placeholder="Search...">
														<span class="input-group-append">
															<button class="btn" type="submit">
																<i class="fa fa-search header-nav-top-icon"></i>
															</button>
														</span>
													</div>
												</form>
											</div>
										</div> -->

            <div class="header-nav-features header-nav-features-no-border header-nav-features-lg-show-border order-1 order-lg-2 mr-2 mr-lg-0 pl-2">
              <div class="header-nav-feature header-nav-features-user d-inline-flex ml-2">
                <a href="javascript:void(0)" class="header-nav-features-toggle">
                  <img src="{{url_base}}/assets/img/icons/perfil.svg" alt="Perfil" class="header-nav-top-icon-img" />
                </a>
              </div>
            </div>

            <div class="header-nav-features header-nav-features-no-border header-nav-features-lg-show-border order-1 order-lg-2 mr-2 mr-lg-0 pl-2">
              <div class="header-nav-feature header-nav-features-fav d-inline-flex ml-2">
                <a href="javascript:void(0)" class="header-nav-features-toggle">
                  <img src="{{url_base}}/assets/img/icons/favoritos.svg" alt="Favoritos" class="header-nav-top-icon-img" />
                </a>
              </div>
            </div>

            <div class="header-nav-features header-nav-features-no-border header-nav-features-lg-show-border order-1 order-lg-2 mr-2 mr-lg-0 pl-2">
              <div class="header-nav-feature header-nav-features-cart d-inline-flex ml-2">
                <a href="javascript:void(0)" class="header-nav-features-toggle">
                  <img src="{{url_base}}/assets/img/icons/carrinho.svg" alt="Carrinho" class="header-nav-top-icon-img" /> <span class="cart-info"> <span class="cart-qty">1</span> </span> </a>
                <div class="header-nav-features-dropdown" id="headerTopCartDropdown">
                  <ol class="mini-products-list">
                    <li class="item"> <a href="#" title="Camera X1000" class="product-image"><img src="img/products/product-1.jpg" alt="Camera X1000"></a>
                      <div class="product-details">
                        <p class="product-name"> <a href="#">Camera X1000 </a> </p>
                        <p class="qty-price"> 1X <span class="price">$890</span> </p> <a href="#" title="Remove This Item" class="btn-remove"><i class="fas fa-times"></i></a>
                      </div>
                    </li>
                  </ol>
                  <div class="totals"> <span class="label">Total:</span> <span class="price-total"><span class="price">$890</span></span> </div>
                  <div class="actions"> <a class="btn btn-dark" href="#">View Cart</a> <a class="btn btn-primary" href="#">Checkout</a> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
{% endif %}
