{% if is_mobile %}

<div class="container-fluid">
  <div class="row">
    <div class="slider-container rev_slider_wrapper" style="height: 100vh;">
      <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'sliderLayout': 'fullscreen', 'delay': 0, 'gridwidth': 1140, 'gridheight': 800, 'responsiveLevels': [4096,1200,992,500]}">
        <ul>
          <li class="slide-overlay slide-overlay-level-2" data-transition="fade">
            <img src="{{url_base}}/assets/img/home-1.png"
              alt="Home"
              data-bgposition="right center"
              data-bgfit="cover"
              data-bgrepeat="no-repeat"
              class="rev-slidebg">
          </li>
        </ul>
      </div>
    </div>

    <div class="col-12 my-4 py-4 px-4">
      <h1 class="title">A Iora</h1>
      <h3 class="subtitle text-uppercase mb-0">O nosso património é o nosso mundo.</h3>
      <p class="text-paragraph text-3">
        Criada em 1973, a Iora Lingerie acompanha a Mulher moderna proporcionando-lhe momentos de sofisticação e classe na sua intimidade.

        As nossas coleções primam pelo requinte e qualidade, fruto de um rigoroso processo de seleção de matérias-primas e recorrendo apenas a materiais nobres...
      </p>
      <u><a class="text-link text-uppercase text-3" href="{{url_base}}/sobre">Ver mais</a></u>
    </div>
    <div class="col-12 px-0 pb-4">
      <img class="img-fluid" src="{{url_base}}/assets/img/home-2.png" alt="Home"/>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-12 my-4 pt-2 pb-4 px-4">
          <h1 class="title mb-3">Destaques</h1>
          <h3 class="subtitle text-uppercase mb-4 pb-4">Recomendações do mês.</h3>

          {% for i in range(0, 3) %}
          <div class="col-12 px-0">
            <img class="img-fluid" src="{{url_base}}/assets/img/home-catalog-1.png" alt="Destaque"/>
          </div>
          <div class="col-12 px-0 pt-3 pb-4">
            <p class="text-paragraph text-uppercase text-3">Robe clássico
              R.302050
            </p>
          </div>
          {% endfor %}
          <div class="text-center pb-4 mb-4">
            <a class="text-link text-uppercase text-3" href="{{url_base}}/catalogo"><u>Ver catálogo</u></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% else %}

<div class="horizontal-scroll-wrapper">
  <div class="page-img-30">
    <img class="h-100" src="{{url_base}}/assets/img/home-1.png" alt="Home"/>
  </div>
  <div class="home-text-1 scroll pt-2">
    <h1 class="title title-pre">Ofereça conforto
      e sofisticação!</h1>
    <h3 class="subtitle">As melhores coleções para a sua loja.</h3>
  </div>
  <div class="description-text scroll pt-2">
    <h1 class="title pb-4 ml-2">A Iora</h1>
    <h3 class="subtitle text-uppercase mb-0">O nosso património é o nosso mundo.</h3>
    <p class="text-paragraph pb-1">
      Criada em 1973, a Iora Lingerie acompanha a Mulher moderna proporcionando-lhe momentos de sofisticação e classe na sua intimidade.

      As nossas coleções primam pelo requinte e qualidade, fruto de um rigoroso processo de seleção de matérias-primas e recorrendo apenas a materiais nobres...
    </p>
    <u><a class="text-link text-uppercase" href="{{url_base}}/sobre">Ver mais</a></u>
  </div>
  <div class="home-img-2">
    <img class="h-100" src="{{url_base}}/assets/img/home-2.png" alt="Home"/>
  </div>
  <div class="product-wrapper">
    <h1 class="title transform">Destaques</h1>
    <h3 class="subtitle transform">Recomendações do mês.</h3>
    <a class="text-link text-uppercase product-wrapper-btn transform" href="{{url_base}}/catalogo"><u>Ver catálogo</u></a>

    {% for i in range(0, 3) %}
    <div class="product-div-home-description pt-4">
      <p class="text-paragraph text-uppercase">Robe clássico
        R.302050
      </p>
    </div>
    <div class="product-div-home">
      <img class="w-100" src="{{url_base}}/assets/img/home-catalog-1.png" alt="Destaque"/>
    </div>
    {% endfor %}

  </div>
  <div class="space"></div>
  <div class="footer-delimiter"></div>
</div>

{% endif %}
