{% if is_mobile %}

<div class="container-fluid">
  <div class="row">
    <div class="col-12 pt-5 mt-5">
      <h1 class="title pt-4 pb-1 px-2">Coleção Outono / Inverno 2021</h1>
    </div>
    <div class="col-12 px-0">
      <ul class="text-uppercase text-center list-inline">
        <li class="list-inline-item active text-3 mx-4"><a class="nav-link px-0" href="javascript:void(0)">Camisas</a></li>
        <li class="list-inline-item text-3 mx-4"><a class="nav-link px-0" href="javascript:void(0)">Robes</a></li>
        <li class="list-inline-item text-3 mx-4"><a class="nav-link px-0" href="javascript:void(0)">Pijamas</a></li>
      </ul>
    </div>

    <div class="col-12 product-div-mobile">
      {% for i in range(0, 9) %}
      <div class="col-12">
        <img class="img-fluid" src="{{url_base}}/assets/img/products/21102.png" alt="Catálogo"/>
        <div class="active-section text-center">
          <div class="p-5">
            <p class="mt-4">Robe em pelúcia macia com gola xaile aprimorada pelos acabamentos em cetim matelassè. Bolsos frontais.</p>
            <h4 class="text-uppercase">Composição</h4>
            <p class="mb-0">Cetim: 92% Poliéster, 8% Elastano</p>
            <p class="mb-0">Tecido principal: 100% Poliéster</p>
            <p>Tecido secundário: 100% Poliéster</p>
            <p>Peça orçamento para saber sobre Condições de Preço</p>
          </div>
        </div>
        <div class="col-12 px-0 pt-3 pb-4">
          <p class="text-paragraph text-uppercase text-3">Robe clássico
            R.20631
          </p>
        </div>
      </div>
      {% endfor %}

      <div class="col-12 my-5">
        <h2 class="title">Pedir orçamento</h2>
        <div class="form-row mr-2">
          <div class="form-group col-12">
            <input type="text" value="" placeholder="Nome" data-msg-required="Por favor insira o seu nome." maxlength="100" class="form-control pl-0" name="name" id="name" required/>
          </div>
        </div>
        <div class="form-row mr-2">
          <div class="form-group col-12">
            <input type="email" value="" placeholder="E-mail" data-msg-required="Por favor insira o seu email." maxlength="100" class="form-control pl-0" name="name" id="name" required/>
          </div>
        </div>
        <div class="form-row mr-2">
          <div class="form-group col-12">
            <textarea maxlength="5000" placeholder="Referência(s) do(s) produto(s)" data-msg-required="Por favor escreva a(s) referência(s)." rows="8" class="form-control pl-0" name="message" id="message" required></textarea>
          </div>
        </div>
        <div class="row form-row form-row-mobile">
          <div class="col-1 d-flex align-items-center">
            <div class="form-group">
              <input type="checkbox" id="checkbox" name="checkbox" class="checkbox d-none">
              <label for="checkbox" class="float-left text-3"></label>
            </div>
          </div>
          <div class="col-7 d-flex align-items-center">
            <p class="line-height-3 pl-2 text-paragraph text-3">Eu aceito as condições da política de privacidade.</p>
          </div>
          <div class="col-3 ml-2 pr-0">
            <div class="form-group">
              <p class="float-right text-uppercase text-paragraph"><input type="submit" name="Submit" value="Enviar" class="text-3"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% else %}

<div class="horizontal-scroll-wrapper">
  <div class="product-side-menu">
    <h1 class="title pb-5">Coleção Outono / Inverno 2021</h1>
    <aside class="sidebar text-uppercase">
      <ul class="nav flex-column">
        <div class="accordion" id="accordion">
          <li class="nav-item active"><a class="nav-link pl-0" href="javascript:void(0)">Camisas</a></li>
          <li class="nav-item"><a class="nav-link pl-0" href="javascript:void(0)">Robes</a></li>
          <li class="nav-item"><a class="nav-link pl-0" href="javascript:void(0)">Pijamas</a></li>
        </div>
      </ul>
    </aside>
  </div>

  {% for i in range(0, 9) %}
  <div class="product-div-description pt-4">
    <p class="text-paragraph text-uppercase mb-0">Robe clássico</p>
    <p class="text-paragraph text-uppercase">R.20631</p>
  </div>
  <div class="product-div">
    <img class="img-fluid" src="{{url_base}}/assets/img/products/21102.png" alt="Catálogo"/>
    <div class="active-section text-center">
      <div class="p-4">
        <p class="mt-4">Robe em pelúcia macia com gola xaile aprimorada pelos acabamentos em cetim matelassè. Bolsos frontais.</p>
        <h4 class="text-uppercase">Composição</h4>
        <p class="mb-0">Cetim: 92% Poliéster, 8% Elastano</p>
        <p class="mb-0">Tecido principal: 100% Poliéster</p>
        <p>Tecido secundário: 100% Poliéster</p>
        <p>Peça orçamento para saber sobre Condições de Preço</p>
      </div>
    </div>
  </div>

  {% endfor %}

  <div class="product-form-text scroll">
    <h2 class="title">Pedir orçamento</h2>
    <div class="form-row">
      <div class="form-group col-12">
        <input type="text" value="" placeholder="Nome" data-msg-required="Por favor insira o seu nome." maxlength="100" class="form-control pl-0" name="name" id="name" required/>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-12">
        <input type="email" value="" placeholder="E-mail" data-msg-required="Por favor insira o seu email." maxlength="100" class="form-control pl-0" name="name" id="name" required/>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-12">
        <textarea maxlength="5000" placeholder="Referência(s) do(s) produto(s)" data-msg-required="Por favor escreva a(s) referência(s)." rows="8" class="form-control pl-0" name="message" id="message" required></textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-12 col-lg-8">
        <input type="checkbox" id="checkbox" name="checkbox" class="checkbox">
        <label for="checkbox" class="float-left">Eu aceito as condições da política de privacidade.</label><br/>
      </div>
      <div class="form-group col-12 col-lg-4">
        <p class="float-right text-uppercase text-paragraph"><input type="submit" name="Submit" value="Enviar"></p>
      </div>
    </div>
  </div>

  <div class="space"></div>
  <div class="footer-delimiter"></div>
</div>

{% endif %}
