<div class="container-fluid">
  <div class="row cart">
    <div class="d-none d-lg-block col-lg-10 bg-opacity">
    </div>

    <!-- <div class="col-6 menu100-overlay p-0 d-none d-lg-block">
      <div class="row">
        <div class="col-4 pr-0">
          <img alt="Iora Lingerie" src="{{url_base}}/assets/img/logos/iora.svg"/>
        </div>
        <div class="col-8"></div>
      </div>
    </div> -->

<!-- <div class="col-2 cart-container bg-cart"></div> -->

    <div class="cart-container bg-cart">
      <div class="container">
        <div class="row p-4 mt-3">
          <div class="col-12 text-right">
            <a href="javascript:void(0);">
              <img src="{{url_base}}/assets/img/icons/fechar.svg" alt="Fechar" class="close-cart"/>
            </a>
          </div>
          <div class="col-12 my-4">
            <p class="features text-white text-uppercase text-3">Carrinho de compras</p>
          </div>

          {% for i in range(0, 0) %}
          <div class="col-5 pb-4">
            <span class="product-thumb-info border-0">
              <a href="{{url_base}}/loja/detalhe">
                <span class="product-thumb-info-image">
                  <img src="{{url_base}}/assets/img/products/21102.png" class="img-fluid" alt="Produto"/>
                </span>
              </a>
            </span>
          </div>

          <div class="col-6 pb-4">
            <div class="row">
              <div class="col-12 col-cart">
                <p class="features product-name text-white text-uppercase text-3 text-lg-2 mb-0">Camisa clássica</p>
                <p class="features product-price text-white text-uppercase text-3 text-lg-2">30,50€</p>
              </div>
              <div class="col-12">
                <form enctype="multipart/form-data" method="post">
                  <div class="quantity-cart">
                    <input type="button" class="cart-less minus text-paragraph text-3" value="-"/>
                    <input type="text" id="qtd" class="cart-input input-number input-text qtys text text-paragraph text-2 w-25 text-center" title="Qty" value="1" name="quantity" min="1" step="1"/>
                    <input type="button" class="cart-more plus text-paragraph text-3" value="+"/>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-1 px-1 delete-product">
            <img src="{{url_base}}/assets/img/icons/fechar.svg" class="w-50" alt="Eliminar"/>
          </div>
          {% endfor %}
        </div>

        <div class="row text-center px-lg-3 pb-5">
          <div class="col-12 pt-5">
            <p class="features product-price text-white text-3">Subtotal: <span class="product-price">30,50€</span></p>
          </div>
          <div class="col-6">
            <button href="javascript:void(0);" class="btn cart-button text-1">Ver carrinho</button>
          </div>
          <div class="col-6">
            <button href="javascript:void(0);" class="btn checkout-button text-1">Checkout</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
